<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
       id="org.jboss.tools.jsf.KbRequire"
       point="org.jboss.tools.jst.web.kb.KbRequire">
       <require
             description="%KB_REQUIRED_FOR_FACET"
             forNature="org.eclipse.wst.common.project.facet.core.nature">
       </require>
 	</extension>

</plugin>
