<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!--extension point="org.eclipse.ui.views">
      <category id="org.jboss.tools.common.struts.studio" name="%views.name">
      </category>
      <view category="org.jboss.tools.common.struts.studio" class="org.jboss.tools.struts.ui.navigator.StrutsProjectsNavigator" icon="images/xstudio/views/navigation.gif" id="org.jboss.tools.struts.ui.navigator.StrutsProjectsView" name="%strutsProjectsViewPart.name">
      </view>
   </extension-->
   <extension point="org.eclipse.ui.editors">
<!--            extensions="xml"-->
      <editor
            default="true"
            extensions="strutsdia"
            icon="images/xstudio/editors/struts.gif"
            id="org.jboss.tools.struts.ui.editor.AuxiliaryFileLauncher"
            launcher="org.jboss.tools.struts.ui.editor.AuxiliaryFileLauncher"
            name="%editors.strutsconfig.name">
      </editor>
   </extension>
   <extension id="e" name="XML Editors" point="org.jboss.tools.common.model.ui.xmlEditor">
      <xmlEditor class="org.jboss.tools.struts.ui.editor.StrutsConfigEditor" contributorClass="org.jboss.tools.struts.ui.action.StrutsMultiPageContributor" entities="StrutsConfig10,StrutsConfig11,StrutsConfig12" icon="$nl$/images/xstudio/editors/struts.gif" name="%editors.strutsconfig.name">
      </xmlEditor>
      <!--xmlEditor 
         class="org.jboss.tools.struts.ui.editor.StrutsConfigEditor" 
         contributorClass="org.jboss.tools.struts.ui.editor.StrutsActionContributor" 
         entities="StrutsConfig10,StrutsConfig11" 
         icon="$nl$/images/xstudio/editors/struts.gif" 
         name="%editors.strutsconfig.name">
      </xmlEditor-->
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <category id="org.jboss.tools.struts" name="%NewWizardCat_Struts" parentCategory="org.jboss.tools.jst.web">
      </category>
      <wizard
            category="org.jboss.tools.jst.web/org.jboss.tools.struts"
            class="org.jboss.tools.struts.ui.wizard.project.NewProjectWizard"
            finalPerspective="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            icon="$nl$/images/xstudio/wizards/new_project.gif"
            id="org.jboss.tools.struts.ui.wizard.project.NewStrutsProjectWizard"
            name="%newProjectWizard.name"
            preferredPerspectives="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            project="true">
         <description>
            	Create a Struts Project
         </description>
      </wizard>
      <wizard
            category="org.jboss.tools.jst.web/org.jboss.tools.struts"
            class="org.jboss.tools.struts.ui.wizard.newfile.NewStrutsConfigFileWizard"
            finalPerspective="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            icon="$nl$/images/xstudio/wizards/new_struts.gif"
            id="org.jboss.tools.struts.ui.wizard.newfile.NewStrutsConfigFileWizard"
            name="%strutsConfig.11"
            preferredPerspectives="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            project="false">
         <description>
            	Create a Struts Config
         </description>
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.jst.web/org.jboss.tools.struts"
            class="org.jboss.tools.struts.ui.wizard.newfile.NewValidationFileWizard"
            finalPerspective="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            icon="$nl$/images/xstudio/wizards/new_validator_file.gif"
            id="org.jboss.tools.struts.ui.wizard.newfile.NewValidationFileWizard"
            name="%new.validation"
            preferredPerspectives="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            project="false">
         <description>
            	Create a Validation File
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <!--wizard category="org.jboss.tools.jst.web/org.jboss.tools.struts" class="org.jboss.tools.struts.ui.wizard.newfile.NewStrutsConfigFile10Wizard" icon="$nl$/images/xstudio/wizards/new_struts.gif" id="org.jboss.tools.struts.ui.wizard.newfile.NewStrutsConfigFile10Wizard" name="%strutsConfig.10" project="false">
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard-->
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective">
         <newWizardShortcut
               id="org.jboss.tools.struts.ui.wizard.project.NewStrutsProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.importWizards">
      <category 
            id="org.jboss.tools.struts" 
            name="%ImportWizardCat_Struts" 
            parentCategory="org.jboss.tools.jst.web">
      </category>
      <wizard 
            category="org.jboss.tools.jst.web/org.jboss.tools.struts"
            class="org.jboss.tools.struts.ui.wizard.project.ImportProjectWizard" 
            icon="$nl$/images/xstudio/wizards/import_project.gif" 
            id="org.jboss.tools.struts.ui.wizard.project.ImportProjectWizard" 
            name="%importProjectWizard.name">
         <description>Create a new Project from a WEB project in the file system. Struts support will be added if it is missing.</description>
      </wizard>
      <wizard 
            category="org.jboss.tools.jst.web/org.jboss.tools.struts"
            class="org.jboss.tools.struts.ui.wizard.project.ImportStrutsWarWizard" 
            icon="$nl$/images/xstudio/wizards/import_project.gif" 
            id="org.jboss.tools.struts.ui.wizard.project.ImportStrutsWarWizard" 
            name="%importStrutsWarWizard.name">
         <description>Create a new Project from a Struts project in a WAR file. The content of WAR file will be copied to the workspace.</description>
      </wizard>
   </extension>
   <extension point="org.jboss.tools.common.model.specialwizard">
      <specialwizard class="org.jboss.tools.struts.ui.wizard.selectitem.SelectItemWizard" id="org.jboss.tools.struts.ui.wizard.selectitem.SelectItemWizard">
      </specialwizard>
      <specialwizard class="org.jboss.tools.struts.ui.wizard.editproperties.StrutsEditPropertiesWizard" id="org.jboss.tools.struts.ui.wizard.editproperties.StrutsEditPropertiesWizard">
      </specialwizard>
   </extension>
   <extension point="org.jboss.tools.common.model.ui.attributeAdapter">
      <attributeAdapter class="org.jboss.tools.struts.ui.wizard.selectpath.PathEditorAdapter" id="StrutsPathEditor">
      </attributeAdapter>
      <attributeAdapter class="org.jboss.tools.struts.ui.adapter.ActionNameListAdapter" id="StrutsActionNameEditor">
      </attributeAdapter>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page category="org.jboss.tools.common.model.ui" class="org.jboss.tools.struts.ui.preferences.StrutsStudioPreferencesPage" id="org.jboss.tools.common.xstudio" 
            name="%PreferencePage_Struts">
      </page>
      <page category="org.jboss.tools.common.xstudio.project" class="org.jboss.tools.struts.ui.preferences.StrutsSupportPreferencesPage" id="org.jboss.tools.common.xstudio.project.strutssupport" 
            name="%PreferencePage_StrutsSupport">
      </page>
      <page category="org.jboss.tools.common.xstudio" class="org.jboss.tools.struts.ui.preferences.StrutsImplementationsPreferencesPage" id="org.jboss.tools.struts.ui.environments" 
            name="%PreferencePage_StrutsEnvironment"/>
      <page category="org.jboss.tools.common.xstudio" class="org.jboss.tools.struts.ui.preferences.StrutsPagesPreferencesPage" id="org.jboss.tools.jsf.ui.jsfpages" 
            name="%PreferencePage_StrutsPages"/>
      <page category="org.jboss.tools.common.xstudio" class="org.jboss.tools.struts.ui.preferences.ProjectPreferencesPage" id="org.jboss.tools.common.xstudio.project" 
            name="%PreferencePage_Project">
      </page>
      <page category="org.jboss.tools.common.xstudio" class="org.jboss.tools.struts.ui.preferences.AutomationPreferencePage" id="org.jboss.tools.common.xstudio.automation" 
            name="%PreferencePage_Automation">
      </page>
      <page category="org.jboss.tools.common.xstudio.automation" class="org.jboss.tools.struts.ui.preferences.RsourceInsetsPreferencesPage" id="org.jboss.tools.common.xstudio.automation.resource.insets" 
            name="%PreferencePage_ResourceInsets">
      </page>
      <page category="org.jboss.tools.common.xstudio" class="org.jboss.tools.struts.ui.preferences.CustomizationPreferencePage" id="org.jboss.tools.common.xstudio.customization" 
            name="%PreferencePage_Customization">
      </page>
      <page category="org.jboss.tools.common.xstudio.editors" class="org.jboss.tools.struts.ui.preferences.WebFlowTabbedPreferencesPage" id="org.jboss.tools.common.xstudio.editors.webflowdiagram" 
            name="%PreferencePage_WebFlow">
      </page>
   </extension>
   <!--extension point="org.eclipse.ui.perspectives">
      <perspective class="org.jboss.tools.struts.ui.XStudioPerspectiveFactory" icon="$nl$/images/xstudio/perspective.gif" id="org.jboss.tools.common.model.ui.XStudioPerspective" name="%perspective.name">
      </perspective>
   </extension-->
   <extension point="org.eclipse.ui.popupMenus">
   <objectContribution
			id="org.jboss.tools.seam.ui.project.configure"
			objectClass="org.eclipse.core.resources.IProject"
			adaptable="true">
			<visibility>
				<and>
					<objectState 
						name="projectNature"
						value="org.eclipse.jdt.core.javanature"/>
					<not>
						<objectState 
							name="projectNature"
							value="org.jboss.tools.struts.strutsnature"/>
					</not>
				</and>
			</visibility>
			
			<action
				class="org.jboss.tools.struts.ui.internal.action.AddStrutsNatureActionDelegate"
				enablesFor="1"
				icon="$nl$/images/xstudio/actions/add_struts_nature.gif"
				id="org.jboss.tools.struts.ui.action.AddStrutsNatureActionDelegate"
				label="%popupMenus.action.addStrutsNature"
				menubarPath="org.eclipse.ui.projectConfigure/additions">
         	</action>
		</objectContribution>
   		<objectContribution
			id="org.jboss.tools.seam.ui.project.configure"
			objectClass="org.eclipse.core.resources.IProject"
			adaptable="true">
			<visibility>
				<and>
					<objectState 
						name="projectNature"
						value="org.eclipse.jdt.core.javanature"/>
					<and>
						<objectState 
							name="projectNature"
							value="org.jboss.tools.struts.strutsnature"/>
					</and>
				</and>
			</visibility>
			
			<action
				class="org.jboss.tools.struts.ui.internal.action.RemoveStrutsNatureActionDelegate"
				enablesFor="1"
				id="org.jboss.tools.common.xstudio.action.RemoveStrutsNatureActionDelegate"
				label="%popupMenus.action.removeStrutsNature"
				menubarPath="org.eclipse.ui.projectConfigure/additions">
         	</action>
         	<action
         		class="org.jboss.tools.struts.ui.internal.action.ModulesConfigurationActionDelegate"
         		enablesFor="1"
         		id="org.jboss.tools.common.xstudio.action.ModulesConfigurationActionDelegate"
         		label="%popupMenus.action.modulesConfiguration"
         		menubarPath="org.eclipse.ui.projectConfigure/additions">
         	</action>
			
		</objectContribution>
      <!--objectContribution id="RedHatStrutsStudio_IProject" objectClass="org.eclipse.core.resources.IProject">
         <menu id="RedHat4Web" label="JBoss Tools" path="additions">
            <separator name="a">
            </separator>
            <separator name="b">
            </separator>
            <separator name="c">
            </separator>
            <separator name="d">
            </separator>
         </menu>
         <action class="org.jboss.tools.struts.ui.internal.action.AddStrutsNatureActionDelegate" enablesFor="*" icon="$nl$/images/xstudio/actions/add_struts_nature.gif" id="org.jboss.tools.struts.ui.action.AddStrutsNatureActionDelegate" label="%popupMenus.action.addStrutsNature" menubarPath="RedHat4Web/a">
         </action>
         <action class="org.jboss.tools.struts.ui.internal.action.RemoveStrutsNatureActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.RemoveStrutsNatureActionDelegate" label="%popupMenus.action.removeStrutsNature" menubarPath="RedHat4Web/d">
         </action>
         <action class="org.jboss.tools.struts.ui.internal.action.ModulesConfigurationActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.ModulesConfigurationActionDelegate" label="%popupMenus.action.modulesConfiguration" menubarPath="RedHat4Web/b">
         </action>
      </objectContribution>
      <objectContribution id="RedHatStrutsStudio_IJavaProject" objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu id="RedHat4Web" label="JBoss Tools" path="additions">
            <separator name="a">
            </separator>
            <separator name="b">
            </separator>
            <separator name="c">
            </separator>
            <separator name="d">
            </separator>
         </menu>
         <action class="org.jboss.tools.struts.ui.internal.action.AddStrutsNatureActionDelegate" enablesFor="*" icon="$nl$/images/xstudio/actions/add_struts_nature.gif" id="org.jboss.tools.struts.ui.action.AddStrutsNatureActionDelegate" label="%popupMenus.action.addStrutsNature" menubarPath="RedHat4Web/a">
         </action>
         <action class="org.jboss.tools.struts.ui.internal.action.RemoveStrutsNatureActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.RemoveStrutsNatureActionDelegate" label="%popupMenus.action.removeStrutsNature" menubarPath="RedHat4Web/d">
         </action>
         <action class="org.jboss.tools.struts.ui.internal.action.ModulesConfigurationActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.ModulesConfigurationActionDelegate" label="%popupMenus.action.modulesConfiguration" menubarPath="RedHat4Web/b">
         </action>
      </objectContribution-->
      <!--objectContribution id="RedHatStrutsStudio_IFile" objectClass="org.eclipse.core.resources.IFile">
         <menu id="RedHat4Web" label="JBoss Tools" path="additions">
            <separator name="a">
            </separator>
            <separator name="generate">
            </separator>
            <separator name="help">
            </separator>
         </menu>
         <action class="org.jboss.tools.struts.ui.internal.action.RunPageActionDelegate" enablesFor="*" id="org.jboss.tools.struts.ui.internal.action.RunPageActionDelegate" label="Run" menubarPath="RedHat4Web/a">
         </action>
         <action class="org.jboss.tools.struts.ui.internal.action.GenerateCodeActionDelegate" enablesFor="*" id="org.jboss.tools.struts.ui.internal.action.GenerateCodeActionDelegate" label="Generate Java Code..." menubarPath="RedHat4Web/generate">
         </action>
      </objectContribution-->
      <objectContribution id="RedHatStrutsStudio_XModelObject" objectClass="org.jboss.tools.common.model.XModelObject">
         <menu id="RedHat4Web" label="JBoss Tools" path="additions">
            <separator name="a">
            </separator>
            <separator name="generate">
            </separator>
            <separator name="help">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution id="Run" objectClass="org.jboss.tools.common.model.XModelObject">
         <action class="org.jboss.tools.struts.ui.internal.action.RunPageActionDelegate" enablesFor="*" id="org.jboss.tools.struts.ui.internal.action.RunPageActionDelegate" label="Run" menubarPath="RedHat4Web/a">
         </action>
         <visibility>
            <objectState name="org.jboss.tools.common.model.ui.action.filter.ModelObjectActionFilterImpl" value="RunActions.RunPage">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution id="Generate_Java_Code" objectClass="org.jboss.tools.common.model.XModelObject">
         <action class="org.jboss.tools.struts.ui.internal.action.GenerateCodeActionDelegate" enablesFor="*" id="org.jboss.tools.struts.ui.internal.action.GenerateCodeActionDelegate" label="Generate Java Code..." menubarPath="RedHat4Web/generate">
         </action>
         <visibility>
            <objectState name="org.jboss.tools.common.model.ui.action.filter.ModelObjectActionFilterImpl" value="GenerateActions.GenerateJavaCode">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
      <!-- actionSet description="JBoss Tools Struts Modules Configuration" id="org.jboss.tools.struts.modules" label="JBoss Tools Struts Modules Configuration" visible="true">
         <action class="org.jboss.tools.struts.ui.internal.action.ModulesConfigurationActionDelegate" enablesFor="1" id="org.jboss.tools.struts.ui.internal.action.ModulesConfigurationActionDelegate" label="JBoss Tools Struts Modules Configuration" menubarPath="org.jboss.tools.common.model.ui.redhat/c">
         </action>
         <menu id="org.jboss.tools.common.model.ui.jboss" label="JBoss Tools">
            <separator name="c"/>
            <separator name="a"/>
            <separator name="d"/>
            <separator name="b"/>
         </menu>
      </actionSet -->
      <actionSet description="%actionSets.projectActions.description" id="org.jboss.tools.common.studio.actionSet" label="%actionSets.projectActions.label" visible="false">
               <!--toolbarPath="Normal/SSProject"-->
         <action class="org.jboss.tools.struts.ui.internal.action.ImportProjectAction" icon="$nl$/images/xstudio/wizards/import_project.gif" id="org.jboss.tools.common.xstudio.action1" label="%actionSets.projectActions.importStrutsProject.label" tooltip="%actionSets.projectActions.importStrutsProject.label">
         </action>
               <!--toolbarPath="Normal/SSProject"-->
         <action class="org.jboss.tools.struts.ui.internal.action.CreateProjectAction" icon="$nl$/images/xstudio/wizards/new_project.gif" id="org.jboss.tools.common.xstudio.action1" label="%actionSets.projectActions.newStrutsProject.label" tooltip="%actionSets.projectActions.newStrutsProject.label">
         </action>
      </actionSet>
   </extension>
   <extension point="org.jboss.tools.common.model.ui.paletteConstraints">
      <editorType id="struts-config">
      </editorType>
      <natureType id="struts">
      </natureType>
   </extension>

   <extension
         point="org.jboss.tools.common.model.resourceMapping">
      <mapping
          loader="org.jboss.tools.struts.ui"
          priority="2"
          kind="class"
          paths=".struts.,webprj.,.strutseditor.,XAttributeConstraintFileSize,XAttributeConstraintStrutsProperty,org.jboss.tools.struts.ui.model.handlers.project,XAdapterStrutsItemElementType,XAdapterProjectRoot,XAdapterContextRelative"
      />
   </extension>
   

   <extension point="org.eclipse.ui.preferencePages">
      <page category="org.jboss.tools.common.xstudio.automation" class="org.jboss.tools.struts.ui.preferences.PluginInsetsPreferencesPage" id="org.jboss.tools.common.xstudio.automation.plugin.insets" 
            name="%PreferencePage_PluginInsets">
      </page>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution id="RedHatEclipse4Web_IProject" objectClass="org.eclipse.core.resources.IProject">
         <menu id="RedHat4Web" label="JBoss Tools" path="additions">
            <separator name="a">
            </separator>
            <separator name="b">
            </separator>
            <separator name="c">
            </separator>
            <separator name="d">
            </separator>
         </menu>
         <action 
             class="org.jboss.tools.struts.ui.internal.action.VerifyActionDelegate" 
             enablesFor="*" 
             id="org.jboss.tools.common.xstudio.action.VerifyActionDelegate" 
             label="%popupMenus.action.verify" 
             menubarPath="RedHat4Web/b">
         </action>
      </objectContribution>
      <objectContribution id="RedHatEclipse4Web_IJavaProject" objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu id="RedHat4Web" label="JBoss Tools" path="additions">
            <separator name="a">
            </separator>
            <separator name="b">
            </separator>
            <separator name="c">
            </separator>
            <separator name="d">
            </separator>
         </menu>
         <action 
             class="org.jboss.tools.struts.ui.internal.action.VerifyActionDelegate" 
             enablesFor="*" 
             id="org.jboss.tools.common.xstudio.action.VerifyActionDelegate" 
             label="%popupMenus.action.verify" 
             menubarPath="RedHat4Web/b">
         </action>
      </objectContribution>
      <!--objectContribution id="RedHatEclipse4Web_IFile" objectClass="org.eclipse.core.resources.IFile">
         <menu id="RedHat4Web" label="JBoss Tools" path="additions">
            <separator name="a">
            </separator>
            <separator name="generate">
            </separator>
            <separator name="help">
            </separator>
         </menu>
         <action class="org.jboss.tools.struts.ui.internal.action.VerifyActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.VerifyActionDelegate" label="%popupMenus.action.verify" menubarPath="RedHat4Web/a">
         </action>
      </objectContribution-->
      <!--objectContribution id="RedHatEclipse4Web_IFolder" objectClass="org.eclipse.core.resources.IFolder">
         <menu id="RedHat4Web" label="JBoss Tools" path="additions">
            <separator name="a">
            </separator>
         </menu>
         <action class="org.jboss.tools.struts.ui.internal.action.VerifyActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.VerifyActionDelegate" label="%popupMenus.action.verify" menubarPath="RedHat4Web/a">
         </action>
      </objectContribution-->

      <objectContribution id="verify" objectClass="org.jboss.tools.common.model.XModelObject">
         <action class="org.jboss.tools.struts.ui.internal.action.VerifyActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.VerifyActionDelegate" label="%popupMenus.action.verify" menubarPath="RedHat4Web/a">
         </action>
         <visibility>
            <objectState name="org.jboss.tools.common.model.ui.action.filter.ModelObjectActionFilterImpl" value="VerifyActions.StaticActions.VerifyAll">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   
   <extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.struts.ui.StrutsUIPlugin"
			class="org.jboss.tools.struts.ui.StrutsUIPlugin"/>
		<xclass id="org.jboss.tools.struts.ui.internal.action.AddStrutsNatureActionDelegate"
			class="org.jboss.tools.struts.ui.internal.action.AddStrutsNatureActionDelegate"/>
		<xclass id="org.jboss.tools.struts.ui.internal.action.CreateProjectAction"
			class="org.jboss.tools.struts.ui.internal.action.CreateProjectAction"/>
		<xclass id="org.jboss.tools.struts.ui.internal.action.CreateStrutsProjectHandler"
			class="org.jboss.tools.struts.ui.internal.action.CreateStrutsProjectHandler"/>
		<xclass id="org.jboss.tools.struts.ui.internal.action.ImportProjectAction"
			class="org.jboss.tools.struts.ui.internal.action.ImportProjectAction"/>
		<xclass id="org.jboss.tools.struts.ui.internal.action.ImportStrutsProjectHandler"
			class="org.jboss.tools.struts.ui.internal.action.ImportStrutsProjectHandler"/>
		<xclass id="org.jboss.tools.struts.ui.model.handlers.project.CreateEclipseProjectHandler"
			class="org.jboss.tools.struts.ui.model.handlers.project.CreateEclipseProjectHandler"/>
		<xclass id="org.jboss.tools.struts.ui.model.handlers.project.ImportEclipseProjectHandler"
			class="org.jboss.tools.struts.ui.model.handlers.project.ImportEclipseProjectHandler"/>
		<xclass id="org.jboss.tools.struts.ui.navigator.StrutsProjectsTreeListener"
			class="org.jboss.tools.struts.ui.navigator.StrutsProjectsTreeListener"/>
		<!--xclass id="org.jboss.tools.struts.ui.navigator.StrutsProjectsView"
			class="org.jboss.tools.struts.ui.navigator.StrutsProjectsView"/-->
		<xclass id="org.jboss.tools.struts.ui.wizard.adopt.AdoptProjectStepLocationView"
			class="org.jboss.tools.struts.ui.wizard.adopt.AdoptProjectStepLocationView"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.adopt.AdoptProjectStepModulesView"
			class="org.jboss.tools.struts.ui.wizard.adopt.AdoptProjectStepModulesView"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.editproperties.StrutsEditPropertiesWizard"
			class="org.jboss.tools.struts.ui.wizard.editproperties.StrutsEditPropertiesWizard"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.project.ImportProjectWizard"
			class="org.jboss.tools.struts.ui.wizard.project.ImportProjectWizard"/>
		<!--xclass id="org.jboss.tools.struts.ui.wizard.project.NewStrutsProjectWizard"
			class="org.jboss.tools.struts.ui.wizard.project.NewStrutsProjectWizard"/-->
		<xclass id="org.jboss.tools.struts.ui.wizard.selectpage.SelectPageStep"
			class="org.jboss.tools.struts.ui.wizard.selectpage.SelectPageStep"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.sync.AddModuleStepView"
			class="org.jboss.tools.struts.ui.wizard.sync.AddModuleStepView"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.sync.SyncProjectStepView"
			class="org.jboss.tools.struts.ui.wizard.sync.SyncProjectStepView"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.selectpath.SelectActionForwardPathStep"
			class="org.jboss.tools.struts.ui.wizard.selectpath.SelectActionForwardPathStep"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.selectpath.SelectGlobalForwardPathStep"
			class="org.jboss.tools.struts.ui.wizard.selectpath.SelectGlobalForwardPathStep"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.selectpath.SelectTileScreen"
			class="org.jboss.tools.struts.ui.wizard.selectpath.SelectTileScreen"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.selectpath.SelectURLPathStep"
			class="org.jboss.tools.struts.ui.wizard.selectpath.SelectURLPathStep"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.selectpath.TabbedStep"
			class="org.jboss.tools.struts.ui.wizard.selectpath.TabbedStep"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.selectpath.PathEditorAdapter"
			class="org.jboss.tools.struts.ui.wizard.selectpath.PathEditorAdapter"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.selectpath.SelectActionPathStep"
			class="org.jboss.tools.struts.ui.wizard.selectpath.SelectActionPathStep"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.selectpath.SelectActionScreen"
			class="org.jboss.tools.struts.ui.wizard.selectpath.SelectActionScreen"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.selectpath.SelectExceptionPathStep"
			class="org.jboss.tools.struts.ui.wizard.selectpath.SelectExceptionPathStep"/>

		<xclass id="org.jboss.tools.struts.ui.wizard.selectitem.SelectItemWizard"
			class="org.jboss.tools.struts.ui.wizard.selectitem.SelectItemWizard"/>
		<xclass id="org.jboss.tools.struts.ui.wizard.editproperties.StrutsEditPropertiesWizard"
			class="org.jboss.tools.struts.ui.wizard.editproperties.StrutsEditPropertiesWizard"/>
   </extension>
   
</plugin>
