<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="cdiextensions" name="CDI Extensions" schema="schema/cdiextensions.exsd"/>

   <extension
         id="cdibuilder"
         name="CDI (Context and Dependency Injection) Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="org.jboss.tools.cdi.core.CDICoreBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="cdinature"
         name="CDI (Context and Dependency Injection) Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.jboss.tools.cdi.core.CDICoreNature">
         </run>
      </runtime>
      <builder
            id="org.jboss.tools.cdi.core.cdibuilder">
      </builder>
   </extension>

   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet
            id="jst.cdi">
         <label>
            CDI (Contexts and Dependency Injection)
         </label>
         <description>
            Enables the project to work with Context and Dependency Injection (CDI)           
         </description>
      </project-facet>
      <project-facet-version
            facet="jst.cdi"
            version="1.0">
         <constraint>
         	<or>
                <and>
	                <requires soft="true"
	           	         facet="jst.ejb"
	       	             version="[3.0">
	   	            </requires>
	               <requires
            	         facet="jst.java"
        	             version="[5.0">
    	           </requires>
	            </and>
                <and>
	               <requires soft="true"
            	         facet="jst.web"
        	             version="[2.5">
    	           </requires>
	               <requires
            	         facet="jst.java"
        	             version="[5.0">
    	           </requires>
	            </and>
         	</or>
         </constraint>
      </project-facet-version>

      <template
            id="template.jboss.tools.cdi10">
         <label>
            CDI Web Project
         </label>
         <fixed
               facet="jst.java"/>
         <fixed
               facet="jst.web"/>
         <preset
               id="jboss.jst.cdi.preset">
         </preset>
      </template>
      
      <action
            facet="jst.cdi"
            id="jst.cdi.1.0.install"
            type="install"
            version="1.0">
         <delegate
               class="org.jboss.tools.cdi.internal.core.project.facet.CDIFacetInstallDelegate">
         </delegate>
         <config-factory
               class="org.jboss.tools.cdi.internal.core.project.facet.CDIFacetInstallDataModelProvider">
         </config-factory>
      </action>
      <action
            facet="jst.cdi"
            id="jst.cdi.1.0.uninstall"
            type="uninstall"
            version="1.0">
         <delegate
               class="org.jboss.tools.cdi.internal.core.project.facet.CDIFacetUninstallDelegate">
         </delegate>
      </action>
   </extension>

  <extension
        point="org.eclipse.wst.common.project.facet.core.presets">
     <static-preset
           id="jboss.jst.cdi.preset">
	    <label>Dynamic Web Project with CDI (Context and Dependency Injection)</label>
	    <facet id="jst.java" version="6.0"/>
	    <facet id="jst.web" version="3.0"/>
	    <facet id="jst.jsf" version="2.0"/>
	    <facet id="jst.cdi" version="1.0"/>
     	<description>
        	Configures a Dynamic Web application to use Context and Dependency Injection (CDI)
     	</description>
     </static-preset>
  </extension>

   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <supported>
         <runtime-component
               any="true">
         </runtime-component>
         <facet
               id="jst.cdi"
               version="[1.0">
         </facet>
      </supported>
   </extension>

   <extension
         point="org.jboss.tools.common.el.core.elResolver">
         <el-resolver id="cdiELResolver">
         	<project-nature id="org.jboss.tools.cdi.core.cdinature" 
         		resolver-class="org.jboss.tools.cdi.internal.core.el.CdiElResolver"/>
         </el-resolver>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.tools.cdi.core.preferences.CDIPreferenceInitializer"/>
   </extension>

   <extension id="cdiproblem" name="%KBProblemName" point="org.eclipse.core.resources.markers">
      <super type="org.jboss.tools.common.validation.JBTValidationProblem">
      </super>
      <persistent value="true">
      </persistent>
   </extension>

   <extension
   		 id="CoreValidator"
         point="org.jboss.tools.common.validation.validator">
         <validator
               class="org.jboss.tools.cdi.internal.core.validation.CDICoreValidator"
               name="%CDICoreValidator"
               id="org.jboss.tools.cdi.core.CoreValidator">
         </validator>
   </extension>

   <extension
   		 id="CDIWarnings"
         point="org.jboss.tools.common.validation.warnings">
         <map
               class="org.jboss.tools.cdi.internal.core.validation.CDISuppressWarningsMap"
               warningGroupID="cdi"
               preferenceGroupID="org.jboss.tools.cdi.core.validator.problem">
         </map>
   </extension>

   <extension
   		 id="CDIELValidationDelegate"
         point="org.jboss.tools.jst.web.kb.elValidationDelegate">
         <delegate
         	   name="%CDIELValidationDelegate"
               class="org.jboss.tools.cdi.internal.core.validation.CDIELValidationDelegate">
         </delegate>
   </extension>

    <extension
       		id="org.jboss.tools.cdi.core.KbRequire"
	       	point="org.jboss.tools.jst.web.kb.KbRequire">
       <require
             description="%KB_REQUIRED_FOR_CDI"
             forNature="org.jboss.tools.cdi.core.cdinature">
       </require>
 	</extension>

	<extension
	      point="org.jboss.tools.cdi.core.cdiextensions">
	    <cdiextension
	          class="org.jboss.tools.cdi.internal.weld.ParametersExtension"
	          runtime="org.jboss.weld.environment.se.WeldSEBeanRegistrant">
	    </cdiextension>
	</extension>
<!-- Workaround for https://bugs.eclipse.org/bugs/show_bug.cgi?id=315390 -->
	<extension
	      id="excludeEJBValidation"
	      point="org.eclipse.wst.validation.exclude">
	   <validator
	         id="org.eclipse.jst.jee.ejb3.validator">
	      <exclude>
	         <rules>
	            <projectNature
	                  id="org.jboss.tools.cdi.core.cdinature">
	            </projectNature>
	         </rules>
	      </exclude>
	   </validator>
	</extension>
</plugin>
