<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>JBIDE5460TestProject</display-name>
	<context-param>
		<param-name>CombineApplication</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>ApplicationGroupName</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>NavigationStyle</param-name>
		<param-value>menu</param-value>
	</context-param>
	<context-param>
		<param-name>HelpStyle</param-name>
		<param-value>
			%context%/help/%language%/%help_id%.htm#%key%
		</param-value>
	</context-param>
	<context-param>
		<param-name>SupportedLocales</param-name>
		<param-value>en_GB,fi_FI</param-value>
	</context-param>
	<context-param>
		<param-name>DefaultHelpId</param-name>
		<param-value>sample_help_page</param-value>
	</context-param>
	<context-param>
		<param-name>DefaultHelpKey</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>LoginScreenStyle</param-name>
		<!-- <param-value>small</param-value> -->
		<param-value>normal</param-value>
	</context-param>
	<context-param>
		<param-name>EnableSecurity</param-name>
		<param-value>true</param-value>
	</context-param>
  <context-param>
    <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
    <param-value>com.sun.facelets.FaceletViewHandler</param-value>
  </context-param>
  <context-param>
    <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
    <param-value>false</param-value>
  </context-param>
<context-param>
    <param-name>org.richfaces.ExcludeScripts</param-name>
    <param-value>Prototype,PrototypeScript</param-value>
</context-param>  <context-param>
      <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
      <param-value>.xhtml</param-value>
  </context-param>
	<context-param>
		<param-name>
			org.apache.myfaces.RESOURCE_VIRTUAL_PATH
		</param-name>
		<param-value>/faces/extensionResource</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>DEFAULT</param-value>
	</context-param>
	<context-param>
		<param-name>
			net.sf.jsfcomp.chartcreator.USE_CHARTLET
		</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>
			org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL
		</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>onload-listener-config</param-name>
		<param-value>/WEB-INF/onload-config.xml</param-value>
	</context-param>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>protected pages</web-resource-name>
			<url-pattern>*.html</url-pattern>
			<url-pattern>*.htm</url-pattern>
			<url-pattern>*.jsp</url-pattern>
			<url-pattern>*.jsf</url-pattern>
			<url-pattern>*.xml</url-pattern>
			<url-pattern>*.js</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>TRACE</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>tomcat</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>tomcat</role-name>
	</security-role>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<filter>
		<filter-name>ajax4jsf</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ajax4jsf</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>extensionsFilter</filter-name>
		<filter-class>
			org.apache.myfaces.webapp.filter.ExtensionsFilter
		</filter-class>
		<init-param>
			<param-name>uploadMaxFileSize</param-name>
			<param-value>100m</param-value>
		</init-param>
		<init-param>
			<param-name>uploadThresholdSize</param-name>
			<param-value>100k</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>/faces/extensionResource/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>
			com.opensymphony.module.sitemesh.filter.PageFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>facesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	
	<resource-ref>
        <description>Derby Datasource example</description>
        <res-ref-name>jdbc/derby</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
	<error-page>
	  <error-code>500</error-code>
	  <location>/error.jsp</location>
	</error-page>
	<error-page>
	  <error-code>408</error-code>
	  <location>/logon.jsp</location>
	</error-page>

</web-app>
