<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Seam"
            id="org.jboss.tools.seam.ui">
      </category>
      <wizard
            category="org.jboss.tools.seam.ui"
            class="org.jboss.tools.seam.ui.wizard.SeamProjectWizard"
            icon="icons/sample.gif"
            id="org.jboss.tools.seam.ui.wizards.SeamProjectWizard"
            name="Seam Project"
            project="true">
         <description>
            description body text
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.seam.ui"
            class="org.jboss.tools.seam.ui.wizard.SeamActionWizard"
            icon="icons/sample.gif"
            id="org.jboss.tools.seam.ui.wizard.SeamActionWizard"
            name="Seam Action">
         <description>
            description body text
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.seam.ui"
            class="org.jboss.tools.seam.ui.wizard.SeamFofrmWizard"
            icon="icons/sample.gif"
            id="org.jboss.tools.seam.ui.wizard2"
            name="Seam Form">
         <description>
            description body text
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <!--wizard
            category="org.jboss.tools.seam.ui"
            class="org.jboss.tools.seam.ui.wizard.SeamEntityWizard"
            icon="icons/sample.gif"
            id="org.jboss.tools.seam.ui.wizard3"
            name="Seam Entity">
         <description>
            description body text
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.seam.ui"
            class="org.jboss.tools.seam.ui.wizard.SeamConversationWizard"
            icon="icons/sample.gif"
            id="org.jboss.tools.seam.ui.wizard4"
            name="Seam Conversation">
         <description>
            description body text
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard-->
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.wizardPages">
      <wizard-pages action="jst.seam.1.2.install">
         <page class="org.jboss.tools.seam.ui.internal.project.facet.SeamInstallWizardPage"/>
      </wizard-pages>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.tools.seam.ui"
            name="Seam">
      </category>
      <view
            category="org.jboss.tools.seam.ui"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/sample.gif"
            id="org.jboss.tools.seam.ui.views.SeamComponentsNavigator"
            name="Seam Components">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.jboss.tools.seam.ui.views.SeamComponentsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>

	<extension point="org.eclipse.ui.navigator.viewer">
	  <viewerContentBinding viewerId="org.jboss.tools.seam.ui.views.SeamComponentsNavigator">
	    <includes>
	      <contentExtension pattern="org.jboss.tools.seam.ui.views.rootContent" />
	    </includes>
	  </viewerContentBinding>
	</extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
	  <navigatorContent
	            name="Seam Components"
	            priority="highest"
	            icon="icons/sample.gif"
	            activeByDefault="true"
	            contentProvider="org.jboss.tools.seam.ui.views.RootContentProvider"
	            labelProvider="org.jboss.tools.seam.ui.views.SeamLabelProvider"   
	            id="org.jboss.tools.seam.ui.views.rootContent">         
	    <triggerPoints>
	      <or>         
	        <instanceof 
	              value="org.eclipse.core.resources.IWorkspaceRoot" /> 
	        <instanceof 
	              value="org.jboss.tools.seam.core.ISeamElement" /> 
	      </or>
	    </triggerPoints>
	    <possibleChildren>
	       <or>         
	          <instanceof value="org.jboss.tools.seam.core.ISeamElement" /> 
	       </or>
	    </possibleChildren>
	    <actionProvider
	      class="org.jboss.tools.seam.ui.views.actions.SeamActionProvider"
	      id="org.jboss.tools.seam.ui.views.actions.SeamActionProvider">
	      <enablement>
	        <or>
	          <instanceof value="org.jboss.tools.seam.core.ISeamElement"/>
	        </or>
	      </enablement>
	    </actionProvider>
	  </navigatorContent>
	</extension>

	<extension point="org.eclipse.core.runtime.adapters">
	  <factory 
	         class="org.jboss.tools.seam.ui.views.properties.SeamElementAdapterFactory" 
	         adaptableType="org.jboss.tools.seam.core.ISeamElement">
	            
	    <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
	  </factory>
	</extension>

   <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
   		id="seam_el_proposals"
			name="Seam EL Proposals">
   	<proposalCategory icon="icons/sample.gif"/>
 	</extension>

	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
   		id="SeamELCompletionProposalComputer" 
   		name="Seam EL Completion Proposal Computer">
   	<javaCompletionProposalComputer
      		class="org.jboss.tools.seam.ui.text.java.SeamELProposalComputer"
      		categoryId="org.jboss.tools.seam.ui.seam_el_proposals"
      		activate="true">
			<partition type="__java_string"/>
   	</javaCompletionProposalComputer>
	</extension>

	<extension 
		point="org.jboss.tools.common.text.xml.contentAssistProcessor"
		id="org.jboss.tools.seam.ui.contentAssistProcessor"
		name="org.jboss.tools.seam.ui.contentAssistProcessor">

		<contentAssistProcessor 
			class="org.jboss.tools.seam.ui.text.java.SeamELProposalProcessor" 
			id="org.jboss.tools.seam.ui.text.java.SeamELProposalProcessor">
			<partitiontype id="org.eclipse.wst.xml.XML_DEFAULT" />
		</contentAssistProcessor>
  </extension>

	<extension 
		point="org.jboss.tools.common.text.xml.contentAssistProcessor"
		id="org.jboss.tools.seam.ui.contentAssistProcessor"
		name="org.jboss.tools.seam.ui.contentAssistProcessor">

		<contentAssistProcessor 
			class="org.jboss.tools.seam.ui.text.java.SeamELProposalProcessor" 
			id="org.jboss.tools.seam.ui.text.java.SeamELProposalProcessor">
			<partitiontype id="org.eclipse.wst.xml.XML_DEFAULT" />
			<partitiontype id="org.eclipse.wst.html.HTML_DEFAULT" />
			<partitiontype id="org.eclipse.jst.jsp.DEFAULT_JSP" />
			<partitiontype id="org.eclipse.jst.jsp.JSP_DIRECTIVE" />
			<partitiontype id="org.eclipse.jst.jsp.SCRIPT.DELIMITER" />
			<partitiontype id="org.eclipse.jst.jsp.SCRIPT.JSP_EL" />
			<partitiontype id="org.eclipse.jst.jsp.SCRIPT.JSP_EL2" />
			
		</contentAssistProcessor>
  </extension>
 
 <extension
       point="org.eclipse.ui.popupMenus">
       <!-- TODO: We should either remove this or move it to a not so prominient place in the final release -->
    <objectContribution
          adaptable="true"
          id="org.jboss.tools.seam.ui.enableSeamAction"
          nameFilter="*"
          objectClass="org.eclipse.core.resources.IProject">
       <action
             class="org.jboss.tools.seam.ui.builder.ToggleSeamNatureAction"
             enablesFor="+"
             id="org.jboss.tools.seam.ui.addRemoveSeamNatureAction"
             label="Add/Remove Seam support"
             menubarPath="additions">
       </action>
    </objectContribution>
 </extension>
  
</plugin>
