<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- Workaround for https://bugs.eclipse.org/bugs/show_bug.cgi?id=207146 --> 
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.jboss.tools.seam.ui.WorkaroundFor207146"/>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Seam"
            id="org.jboss.tools.seam.ui">
      </category>
      <wizard
            category="org.jboss.tools.seam.ui"
            class="org.jboss.tools.seam.ui.wizard.SeamProjectWizard"
            finalPerspective="org.jboss.tools.seam.ui.SeamPerspective"
            icon="$nl$/icons/view/seam_project_new.gif"
            id="org.jboss.tools.seam.ui.wizards.SeamProjectWizard"
            name="Seam Web Project"
            preferredPerspectives="org.jboss.tools.seam.ui.SeamPerspective"
            project="true">
         <description>
            Create a Seam Web Project
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.seam.ui"
            class="org.jboss.tools.seam.ui.wizard.SeamActionWizard"
            icon="$nl$/icons/seam16.png"
            id="org.jboss.tools.seam.ui.wizard.SeamActionWizard"
            name="Seam Action">
         <description>
            Create a Seam Action
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.seam.ui"
            class="org.jboss.tools.seam.ui.wizard.SeamFormWizard"
            icon="$nl$/icons/seam16.png"
            id="org.jboss.tools.seam.ui.wizard.SeamFormWizard"
            name="Seam Form">
         <description>
            Create a Seam Form
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
 	  <wizard
            category="org.jboss.tools.seam.ui"
            class="org.jboss.tools.seam.ui.wizard.SeamConversationWizard"
            icon="$nl$/icons/seam16.png"
            id="org.jboss.tools.seam.ui.wizard.SeamConversationWizard"
            name="Seam Conversation">
         <description>
            Create a Seam Conversation
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>

      <wizard
            category="org.jboss.tools.seam.ui"
            class="org.jboss.tools.seam.ui.wizard.SeamEntityWizard"
            icon="$nl$/icons/seam16.png"
            id="org.jboss.tools.seam.ui.wizard.SeamEntityWizard"
            name="Seam Entity">
         <description>
            Create a Seam Entity
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
            <wizard
            category="org.jboss.tools.seam.ui"
            class="org.jboss.tools.seam.ui.wizard.SeamGenerateEntitiesWizard"
            icon="$nl$/icons/seam16.png"
            id="org.jboss.tools.seam.ui.wizard.SeamGenerateEnitiesWizard"
            name="Seam Generate Entities">
         <description>
            Generate Entities
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
     
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.wizardPages">
      <wizard-pages action="jst.seam.1.2.install">
         <page class="org.jboss.tools.seam.ui.internal.project.facet.SeamInstallWizardPage"/>
      </wizard-pages>
      <wizard-pages action="jst.seam.2.0.install">
         <page class="org.jboss.tools.seam.ui.internal.project.facet.SeamInstallWizardPage"/>
      </wizard-pages>
      <wizard-pages action="jst.seam.2.1.install">
         <page class="org.jboss.tools.seam.ui.internal.project.facet.SeamInstallWizardPage"/>
      </wizard-pages>
      <wizard-pages action="jst.seam.2.2.install">
         <page class="org.jboss.tools.seam.ui.internal.project.facet.SeamInstallWizardPage"/>
      </wizard-pages>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.tools.seam.ui"
            name="%ViewCategory_Seam">
      </category>
      <view
            category="org.jboss.tools.seam.ui"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="$nl$/icons/seam16.png"
            id="org.jboss.tools.seam.ui.views.SeamComponentsNavigator"
            name="%ViewName_SeamComponents">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jboss.tools.seam.ui.SeamPerspective">
         <newWizardShortcut
               id="org.jboss.tools.seam.ui.wizards.SeamProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.jboss.tools.seam.ui.wizard.SeamActionWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.jboss.tools.seam.ui.wizard.SeamFormWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.jboss.tools.seam.ui.wizard.SeamEntityWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.jboss.tools.seam.ui.wizard.SeamConversationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.jboss.tools.seam.ui.wizard.SeamGenerateEnitiesWizard">
         </newWizardShortcut>
         <actionSet id="org.hibernate.eclipse.launch.actionset"/>
         <perspectiveShortcut
               id="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.hibernate.eclipse.console.HibernateConsolePerspective">
         </perspectiveShortcut>
         <actionSet
               id="org.eclipse.debug.ui.breakpointActionSet">
         </actionSet>
         <actionSet id="org.eclipse.wst.server.ui.internal.webbrowser.actionSet"/>
      </perspectiveExtension>
   </extension>

	<extension point="org.eclipse.ui.navigator.viewer">
	  <viewerContentBinding viewerId="org.jboss.tools.seam.ui.views.SeamComponentsNavigator">
	    <includes>
	      <contentExtension pattern="org.jboss.tools.seam.ui.views.rootContent" />
	      <contentExtension pattern="org.jboss.tools.seam.ui.views.SeamJarFilter"/>
	      <contentExtension pattern="org.jboss.tools.seam.ui.views.SeamReferencedFilter"/>
	      <contentExtension pattern="org.jboss.tools.seam.ui.views.SeamLinkHelper"/>
	    </includes>
	  </viewerContentBinding>
	</extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
	  <navigatorContent
	            name="%NavigatorContent_SeamComponents"
	            priority="highest"
	            icon="$nl$/icons/seam16.png"
	            activeByDefault="true"
	            contentProvider="org.jboss.tools.seam.ui.views.RootContentProvider"
	            labelProvider="org.jboss.tools.seam.ui.views.SeamLabelProvider"   
	            id="org.jboss.tools.seam.ui.views.rootContent">         
	    <triggerPoints>
	      <or>         
	        <instanceof value="org.eclipse.core.resources.IWorkspaceRoot" /> 
	        <instanceof value="org.jboss.tools.seam.core.ISeamElement" /> 
	      </or>
	    </triggerPoints>
	    <possibleChildren>
	       <or>
	          <instanceof value="org.eclipse.core.resources.IWorkspaceRoot" /> 
	          <instanceof value="org.jboss.tools.seam.core.ISeamElement" /> 
	       </or>
	    </possibleChildren>
        <actionProvider
              class="org.eclipse.ui.internal.navigator.resources.actions.EditActionProvider"
              id="org.eclipse.ui.navigator.resources.actions.EditActions">         
				<enablement>
					<or>
						<adapt type="org.eclipse.core.resources.IFile" />	
	         			<adapt type="org.eclipse.core.resources.IProject" /> 
					</or>
		         </enablement>
        </actionProvider>     
        <actionProvider
              class="org.eclipse.ui.internal.navigator.resources.actions.RefactorActionProvider"
              id="org.eclipse.ui.navigator.resources.actions.RefactorActions">
				<enablement>
					<or>
						<adapt type="org.eclipse.core.resources.IFile" />	
	         			<adapt type="org.eclipse.core.resources.IProject" /> 
					</or>
		         </enablement>
        </actionProvider>     
	    <actionProvider
	      class="org.jboss.tools.seam.ui.views.actions.SeamActionProvider"
	      id="org.jboss.tools.seam.ui.views.actions.SeamActionProvider.root">
	      <enablement>
	        <or>
	          <instanceof value="org.jboss.tools.seam.core.ISeamElement"/>
	        </or>
	      </enablement>
	    </actionProvider>
	    <actionProvider
	      class="org.jboss.tools.seam.ui.views.actions.ScopePresentationActionProvider"
	      id="a1">
	      <enablement>
	      </enablement>
	    </actionProvider>

	      <commonWizard
	        		type="new"
					wizardId="org.eclipse.ui.wizards.new.folder">
				<enablement>
					<or>
						<adapt type="org.eclipse.core.resources.IFile" />	
						<adapt type="org.eclipse.core.resources.IFolder" />
	         			<adapt type="org.eclipse.core.resources.IProject" /> 
	               		<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />
	               		<instanceof value="org.jboss.tools.seam.core.ISeamElement"/>
					</or>
		         </enablement>
			</commonWizard>   
		  <commonWizard
		        menuGroupId="org.eclipse.jdt.ui.java"
		        type="new"
		        wizardId="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		           </adapt>
		        </or>
		     </enablement>
		  </commonWizard>

        <actionProvider
            	class="org.eclipse.ui.internal.navigator.resources.actions.NewActionProvider"
            	id="org.eclipse.ui.navigator.resources.NewActions"> 
        	<enablement> 
        			<or>
						<adapt type="org.eclipse.core.resources.IResource" />	 
						<adapt type="java.util.Collection"> 
							<count value="0" />
						</adapt>
					</or>
	         </enablement>
		</actionProvider> 

	  </navigatorContent>

      <commonFilter
            class="org.jboss.tools.seam.ui.views.SeamJarFilter"
            description="Hide Seam Components loaded from libraries and not overriden in project"
            id="org.jboss.tools.seam.ui.views.SeamJarFilter"
            name="Seam Components from Libraries"
            activeByDefault="true"/>

      <commonFilter
            class="org.jboss.tools.seam.ui.views.SeamReferencedFilter"
            description="Hide Seam Components loaded from referenced projects and not overriden in project"
            id="org.jboss.tools.seam.ui.views.SeamReferencedFilter"
            name="Seam Components from Referenced Projects"
            activeByDefault="true"/>
	</extension>

	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="org.jboss.tools.seam.ui.views.projectContent" />
				<contentExtension pattern="org.jboss.tools.seam.ui.views.SeamJarFilter"/>
				<contentExtension pattern="org.jboss.tools.seam.ui.views.SeamReferencedFilter"/>
			</includes>
		</viewerContentBinding>
	</extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
            	name="%NavigatorContent_SeamComponents"
            	priority="highest"
            	icon="$nl$/icons/seam16.png"
            	activeByDefault="true"
            	contentProvider="org.jboss.tools.seam.ui.views.ProjectContentProvider"
            	labelProvider="org.jboss.tools.seam.ui.views.SeamProjectLabelProvider"   
            	id="org.jboss.tools.seam.ui.views.projectContent">         
			<triggerPoints>
				<or>         
					<instanceof value="org.eclipse.core.resources.IProject" /> 
					<instanceof value="org.eclipse.jdt.core.IJavaProject" />
				</or>
			</triggerPoints>
			<possibleChildren>
				<or>
					<instanceof value="org.jboss.tools.seam.core.ISeamElement" /> 
				</or>
			</possibleChildren>
			<actionProvider
					class="org.jboss.tools.seam.ui.views.actions.SeamActionProvider"
					id="org.jboss.tools.seam.ui.views.actions.SeamActionProvider">
				<enablement>
					<or>
						<instanceof value="org.jboss.tools.seam.core.ISeamElement"/>
					</or>
				</enablement>
			</actionProvider>
			<actionProvider
					class="org.jboss.tools.seam.ui.views.actions.ScopePresentationActionProvider"
					id="a2">
				<enablement>
				</enablement>
			</actionProvider>
		</navigatorContent>
	</extension>

    <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             class="org.jboss.tools.seam.ui.views.SeamLinkHelper"
             id="org.jboss.tools.seam.ui.views.SeamLinkHelper">
          <selectionEnablement>
          	<or>
             <instanceof value="org.jboss.tools.seam.core.IOpenableElement"/>
             <instanceof value="org.jboss.tools.seam.core.ISeamElement"/>
            </or> 
          </selectionEnablement>
          <editorInputEnablement>
          	<or>
             <instanceof value="org.eclipse.ui.IFileEditorInput"/>
             <instanceof value="org.eclipse.jdt.internal.ui.javaeditor.IClassFileEditorInput"/>
            </or> 
          </editorInputEnablement>
       </linkHelper>
    </extension>


	<extension point="org.eclipse.core.runtime.adapters">
	  <factory 
	         class="org.jboss.tools.seam.ui.views.properties.SeamElementAdapterFactory" 
	         adaptableType="org.jboss.tools.seam.core.ISeamElement">
	            
	    <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
	  </factory>
	</extension>

   <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
   		id="seam_el_proposals"
			name="Seam EL Proposals">
   	<proposalCategory icon="$nl$/icons/seam16.png"/>
 	</extension>

	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
   		id="SeamELCompletionProposalComputer" 
   		name="Seam EL Completion Proposal Computer">
   	<javaCompletionProposalComputer
      		class="org.jboss.tools.seam.ui.text.java.SeamELProposalComputer"
      		categoryId="org.jboss.tools.seam.ui.seam_el_proposals"
      		activate="true">
			<partition type="__java_string"/>
   	</javaCompletionProposalComputer>
	</extension>

   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="org.jboss.tools.seam.ui.text.java.JavaStringHyperlinkDetector"
            id="org.jboss.tools.seam.ui.text.java.JavaStringHyperlinkDetector"
            name="Java String"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>

	<extension 
		point="org.jboss.tools.common.text.xml.contentAssistProcessor"
		id="org.jboss.tools.seam.ui.contentAssistProcessor"
		name="org.jboss.tools.seam.ui.contentAssistProcessor">
  </extension>
 
 <extension
       point="org.eclipse.ui.popupMenus">
       <!-- TODO: We should either remove this or move it to a not so prominient place in the final release -->
    <objectContribution
          adaptable="true"
          id="org.jboss.tools.seam.ui.enableSeamAction"
          nameFilter="*"
          objectClass="org.eclipse.core.resources.IProject">
       <!--action
             class="org.jboss.tools.seam.ui.builder.ToggleSeamNatureAction"
             enablesFor="+"
             id="org.jboss.tools.seam.ui.addRemoveSeamNatureAction"
             label="Add/Remove Seam support"
             menubarPath="additions">
       </action-->
    </objectContribution>
 </extension>
  
   <extension point="org.eclipse.ui.preferencePages">
      <page 
         category="org.jboss.tools.common.model.ui.seam" 
         class="org.jboss.tools.seam.ui.preferences.SeamValidatorPreferencePage" 
         id="org.jboss.tools.seam.ui.preferences.SeamValidatorPreferencePage" 
         name="%PreferencePage_Validator">
      </page>
      <page
            category="org.jboss.tools.common.model.ui"
            class="org.jboss.tools.seam.ui.preferences.SeamPreferencePage"
            id="org.jboss.tools.common.model.ui.seam"
            name="%PreferencePage_Seam">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="%PreferencePage_SeamValidator"
            class="org.jboss.tools.seam.ui.preferences.SeamValidatorPreferencePage"
            id="org.jboss.tools.seam.ui.propertyPages.SeamValidatorPreferencePage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.jboss.tools.seam.core.seamnature"/>
		     </adapt>         
         </enabledWhen>
      </page>

      <page
            name="%PreferencePage_SeamSettings"
            class="org.jboss.tools.seam.ui.preferences.SeamSettingsPreferencePage"
            id="org.jboss.tools.seam.ui.propertyPages.SeamSettingsPreferencePage">
         <enabledWhen>
		     	<adapt type="org.eclipse.core.resources.IProject">
		     		<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
				</adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jboss.tools.seam.ui.SeamPerspectiveFactory"
            icon="$nl$/icons/seam16.png"
            id="org.jboss.tools.seam.ui.SeamPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open Seam Component"
            id="org.jboss.tools.seam.ui.open.component"
            name="Open Seam Component">
      </command>
      <command
            categoryId="org.eclipse.search.ui.category.search"
            description="Find Seam Declarations"
            id="org.jboss.tools.seam.ui.find.declarations"
            name="Find Seam Declarations">
      </command>
      <command
            categoryId="org.eclipse.search.ui.category.search"
            description="Find Seam References"
            id="org.jboss.tools.seam.ui.find.references"
            name="Find Seam References">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.jboss.tools.seam.ui.open.component"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+Z">
      </key>
      <!--             
      contextId="org.jboss.tools.vpe.editorContext"
      -->
      <key
            commandId="org.jboss.tools.seam.ui.find.declarations"
		      contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G">
      </key>
      <key
            commandId="org.jboss.tools.seam.ui.find.references"
		      contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+G">
      </key>
   </extension>
   
   <extension
			id="SeamSearchResultPage"
			point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="org.jboss.tools.seam.ui.search.SeamSearchResultPage"
			searchResultClass="org.jboss.tools.seam.ui.search.SeamSearchResult"
			class="org.jboss.tools.seam.ui.search.SeamSearchResultPage">
		</viewPage>
	</extension>
	
	<extension
			id="ELSearchResultPage"
			point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="org.jboss.tools.seam.ui.search.ELSearchResultPage"
			searchResultClass="org.jboss.tools.seam.ui.search.ELSearchResult"
			class="org.jboss.tools.seam.ui.search.SeamSearchResultPage">
		</viewPage>
	</extension>
	
	<extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="org.jboss.tools.seam.ui.actions.SeamFindQuickAssistProcessor"
            id="org.jboss.tools.seam.ui.seamfindquickassist"
            name="Seam Find"/>
   </extension>
	
	<!--======================================================================================-->
	<!-- queryParticipant to participate in java serches                                     -->
	<!--======================================================================================-->
	<extension point="org.eclipse.jdt.ui.queryParticipants">
		<queryParticipant
			name="Seam Query Participant"
			nature="org.eclipse.jdt.core.javanature"
			class="org.jboss.tools.seam.ui.search.SeamQueryParticipant"
			id="org.jboss.tools.seam.ui.search.SeamQueryParticipant" />
	</extension>

	<extension point="org.eclipse.ui.ide.markerResolution">
  		<markerResolutionGenerator
     		class="org.jboss.tools.seam.ui.marker.MarkerResolutionGenerator"
     		markerType="org.eclipse.wst.validation.problemmarker"/>
	</extension>

<!-- Refactorng -->
	<extension
		point="org.eclipse.ui.menus">
		<!--menuContribution
          class="org.jboss.tools.seam.ui.refactoring.SeamRefactorContributionFactory"
          locationURI="popup:#CompilationUnitEditorContext?after=org.eclipse.jdt.ui.refactoring.menu">
    	</menuContribution-->
    <menuContribution
          class="org.jboss.tools.seam.ui.refactoring.SeamRefactorContributionFactory"
          locationURI="popup:org.eclipse.ui.popup.any?after=save">
    </menuContribution>
	</extension> 



 <extension
       point="org.jboss.tools.common.model.ui.attributeContentProposalProviders">
    <provider class="org.jboss.tools.seam.ui.views.properties.SeamELAttributeContentProposalProvider"/>
 </extension>

 
 <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
    <action facet="jst.seam" type="version-change">
      	<delegate class="org.jboss.tools.seam.ui.dialog.SeamFacetVersionChangeDelegate"/>
    </action>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
       <menuContribution
          locationURI="menu:navigate?after=open.ext2">
            <command
              commandId="org.jboss.tools.seam.ui.open.component"
                 id="openComponent"
              mnemonic="Z"
     icon="$nl$/icons/open_seam_component.gif"
              label="Open Seam Component"
              tooltip="Open Seam Component" >
       </command> 
  </menuContribution>
  <menuContribution
                locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
                <toolbar
                      id="org.eclipse.search.searchActionSet">
                <command
                  commandId="org.jboss.tools.seam.ui.open.component"
                  id="openComponent"
                  mnemonic="Z"
      icon="$nl$/icons/open_seam_component.gif"
                  label="Open Seam Component"
                  tooltip="Open Seam Component" >
           </command> 
         </toolbar>
  </menuContribution>
  <menuContribution
     locationURI="menu:org.eclipse.ui.main.menu?after=navigate">
   <!-- Note: The menu (re-) definition has to be here due to bug: -->
   <!-- see http://bugs.eclipse.org/bugs/show_bug.cgi?id=15684    -->
   <!-- =================================================================== -->
   <!-- Search Menu                                                         -->
   <!-- =================================================================== -->
   <menu
     label="%searchMenu.label"
     id="org.eclipse.search.menu">
    <separator name="internalDialogGroup" visible="false"/>   <!-- not to be used by clients  -->
    <separator name="dialogGroup" visible="false"/>           <!-- to be used by clients      -->
           <separator name="seamSearchMenuActionsGroup"/> <!-- to be used by clients -->
           <command
                  commandId="org.jboss.tools.seam.ui.find.references"
                  id="findReferences"
                  mnemonic="G"
      icon="$nl$/icons/find_seam_references.gif"
                  label="Find Seam References"
                  tooltip="Find Seam References" >
           </command> 
           <command
                  commandId="org.jboss.tools.seam.ui.find.declarations"
                  id="findDeclarations"
                  mnemonic="G"
                  icon="$nl$/icons/open_seam_component.gif"
                  label="Find Seam Declarations"
                  tooltip="Find Seam Declarations" >
           </command> 
                  
    <separator name="fileSearchContextMenuActionsGroup"/> <!-- to be used by clients      -->
           <separator name="contextMenuActionsGroup"/> <!-- to be used by clients -->
           <separator name="occurencesActionsGroup"/> <!-- to be used by clients -->
           <separator name="extraSearchGroup"/> <!-- to be used by clients -->
          </menu>
  </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.jboss.tools.seam.ui.handlers.OpenSeamComponentHandler"
          commandId="org.jboss.tools.seam.ui.open.component">
    </handler>
    <handler
          class="org.jboss.tools.seam.ui.handlers.FindSeamReferencesHandler"
          commandId="org.jboss.tools.seam.ui.find.references">
    </handler>
    <handler
          class="org.jboss.tools.seam.ui.handlers.FindSeamDeclarationsHandler"
          commandId="org.jboss.tools.seam.ui.find.declarations">
    </handler>
 </extension>
 
   <extension point="org.jboss.tools.common.model.classes">
      <xclass id="org.jboss.tools.seam.ui.views.actions.RenameComponentAction"
              class="org.jboss.tools.seam.ui.views.actions.RenameComponentAction"/>
   </extension>

	<extension
		point="org.eclipse.ui.popupMenus">

		<objectContribution
			id="org.jboss.tools.seam.ui.project.configure"
			objectClass="org.eclipse.core.resources.IProject"
			adaptable="true">
			<visibility>
				<and>
					<objectState 
						name="projectNature"
						value="org.eclipse.jdt.core.javanature"/>
					<not>
						<objectState 
							name="projectNature"
							value="org.jboss.tools.seam.core.seamnature"/>
					</not>
				</and>
			</visibility>

			<action
				id="org.jboss.tools.seam.ui.AddSeamSupport"
				label="%ConfigureMenu_AddSeamSupport"
				class="org.jboss.tools.seam.ui.preferences.AddSeamSupportAction"
				enablesFor="1"
				menubarPath="org.eclipse.ui.projectConfigure/additions"/>

		</objectContribution>
	</extension>

</plugin>
