<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.jboss.tools.vpe.ui.tests">
      <tests
            name="Vpe test&apos;s for seam ui components"
            testSuite="org.jboss.tools.jsf.vpe.seam.test.SeamAllTests"/>
      <testProject
            name="SeamTest"
            path="resources/SeamTest"/>
   </extension>

</plugin>
