<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.jboss.tools.vpe.ui.tests">
      <tests
            description="Facelets Tests"
            name="Facelets Tests"
            testSuite="org.jboss.tools.jsf.vpe.facelets.test.FaceletsAllTests">
      </tests>
      <testProject
            name="faceletsTest"
            path="resources/faceletsTest">
      </testProject>
   </extension>

</plugin>
