<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   	<extension 
		point="org.jboss.tools.common.text.ext.hyperlinkPartitioner"
		id="org.jboss.tools.seam.text.ext.hyperlinkPartitioner"
		name="org.jboss.tools.seam.text.ext.hyperlinkPartitioner">

		<hyperlinkPartitioner
        	class="org.jboss.tools.common.text.ext.hyperlink.xml.XMLRootHyperlinkPartitioner" 
        	id="org.jboss.tools.common.text.ext.hyperlink.xml.XMLRootHyperlinkPartitioner">
         	<contentType id="org.jboss.tools.seam.xml.ui.pages12xmlsource">
         		<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page12xmlsource">
         		<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages20xmlsource">
         		<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page20xmlsource">
         		<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages21xmlsource">
         		<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page21xmlsource">
         		<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
         	</contentType>
         </hyperlinkPartitioner>

		<hyperlinkPartitioner 
         	class="org.jboss.tools.common.text.ext.hyperlink.xml.XMLTextHyperlinkPartitioner" 
         	id="org.jboss.tools.common.text.ext.hyperlink.xml.XMLTextHyperlinkPartitioner">
         	<contentType id="org.jboss.tools.seam.xml.ui.pages12xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page12xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages20xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page20xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages21xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page21xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT"/>
         	</contentType>
		</hyperlinkPartitioner>

   		<hyperlinkPartitioner 
         	id="org.jboss.tools.common.text.ext.seam.hyperlink.JSPNavigationCaseHyperlinkPartitioner"
         	class="org.jboss.tools.jsf.text.ext.hyperlink.JSPNavigationCaseHyperlinkPartitioner">
         	<contentType id="org.eclipse.jst.jsp.core.jspsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://jboss.com/products/seam/taglib]:button/action/" />
         			<axis path="*/[http://jboss.com/products/seam/taglib]:link/action/" />
         		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.wst.html.core.htmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://jboss.com/products/seam/taglib]:button/action/" />
         			<axis path="*/[http://jboss.com/products/seam/taglib]:link/action/" />
         		</partitionType>
         	</contentType>
		</hyperlinkPartitioner>


		<hyperlinkPartitioner 
         	class="org.jboss.tools.common.text.ext.hyperlink.xml.XMLElementHyperlinkPartitioner" 
         	id="org.jboss.tools.common.text.ext.hyperlink.xml.XMLElementHyperlinkPartitioner">
         	<contentType id="org.jboss.tools.seam.xml.ui.pages12xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page12xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages20xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page20xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages21xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page21xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT"/>
         	</contentType>
		</hyperlinkPartitioner>

		<hyperlinkPartitioner 
			class="org.jboss.tools.common.text.ext.hyperlink.xml.XMLElementAttributeValueHyperlinkPartitioner" 
			id="org.jboss.tools.common.text.ext.hyperlink.xml.XMLElementAttributeValueHyperlinkPartitioner">
         	<contentType id="org.jboss.tools.seam.xml.ui.pages12xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ELEMENT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page12xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ELEMENT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages20xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ELEMENT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page20xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ELEMENT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages21xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ELEMENT"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page21xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ELEMENT"/>
         	</contentType>
		</hyperlinkPartitioner> 

		<hyperlinkPartitioner 
         	id="org.jboss.tools.seam.text.ext.hyperlink.SeamBeanHyperlinkPartitioner"
         	class="org.jboss.tools.seam.text.ext.hyperlink.SeamBeanHyperlinkPartitioner">
         	<contentType id="org.eclipse.jst.jsp.core.jspsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION" />
         	</contentType>
         	<contentType id="org.eclipse.wst.html.core.htmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION" />
         	</contentType>
         	<contentType id="org.eclipse.core.runtime.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION" />
         	</contentType>
         	<contentType id="org.jboss.tools.common.model.ui.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION" />
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages12xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page12xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages20xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page20xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages21xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION"/>
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page21xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION"/>
         	</contentType>
		</hyperlinkPartitioner>

		<hyperlinkPartitioner 
	         id="org.jboss.tools.common.text.ext.jsf.hyperlink.JSPExprHyperlinkPartitioner1"
   	      class="org.jboss.tools.jsf.text.ext.hyperlink.JSPExprHyperlinkPartitioner">

         	<contentType id="org.eclipse.core.runtime.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE" />
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_TEXT" />
         	</contentType>
         	<contentType id="org.jboss.tools.common.model.ui.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE" />
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_TEXT" />
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages12xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE" />
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_TEXT" />
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page12xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE" />
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_TEXT" />
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages20xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE" />
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_TEXT" />
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page20xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE" />
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_TEXT" />
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.pages21xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE" />
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_TEXT" />
         	</contentType>
         	<contentType id="org.jboss.tools.seam.xml.ui.page21xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE" />
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_TEXT" />
         	</contentType>
		</hyperlinkPartitioner>
		
		<hyperlinkPartitioner 
         	id="org.jboss.tools.seam.text.ext.hyperlink.SeamViewHyperlinkPartitioner"
         	class="org.jboss.tools.seam.text.ext.hyperlink.SeamViewHyperlinkPartitioner">
         	<contentType id="org.eclipse.jst.jsp.core.jspsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://jboss.com/products/seam/taglib]:button/view/" />
         			<axis path="*/[http://jboss.com/products/seam/taglib]:link/view/" />
         		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.wst.html.core.htmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://jboss.com/products/seam/taglib]:button/view/" />
         			<axis path="*/[http://jboss.com/products/seam/taglib]:link/view/" />
         		</partitionType>
         	</contentType>
         	
         	<contentType id="org.eclipse.core.runtime.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
					<axis path="*/view-id/" />
					<axis path="*/*-view-id/" />
         		</partitionType>
         	</contentType>
         	<contentType id="org.jboss.tools.common.model.ui.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
					<axis path="*/view-id/" />
					<axis path="*/*-view-id/" />
         		</partitionType>
         	</contentType>
		</hyperlinkPartitioner>
		
		<hyperlinkPartitioner 
         	id="org.jboss.tools.common.text.ext.jsf.hyperlink.JSPForwardHyperlinkPartitioner"
         	class="org.jboss.tools.jsf.text.ext.hyperlink.JSPForwardHyperlinkPartitioner">
         	<contentType id="org.eclipse.jst.jsp.core.jspsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://jboss.com/products/seam/taglib]:graphicImage/value/" />
         		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.wst.html.core.htmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://jboss.com/products/seam/taglib]:graphicImage/value/" />
         		</partitionType>
         	</contentType>
		</hyperlinkPartitioner>
		
		
		<!-- 
			The following definitions are subject to move into another plugin
			bacause of bpm and drools are not the basics of seam 
		-->
		<!-- JBIDE-4002 <bpm:process-definitions> and <bpm:pageflow-definitions> in components.xml -->
		<!-- JBIDE-3901 <drools:rule-files> in components.xml -->
		<hyperlinkPartitioner 
         	id="org.jboss.tools.seam.text.ext.hyperlink.ComponentsHyperlinkPartitioner"
         	class="org.jboss.tools.seam.text.ext.hyperlink.ComponentsHyperlinkPartitioner">
        	
         	<contentType id="org.jboss.tools.common.model.ui.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_TEXT">
         			<!-- TODO replace bpm with [http://jboss.com/products/seam/bpm] -->
					<axis path="*/bpm:process-definitions/value/" />
					<!-- TODO replace bpm with [http://jboss.com/products/seam/bpm] -->
					<axis path="*/bpm:pageflow-definitions/value/" />
					<axis path="*/component/property/value/" />
					<!-- TODO replace drools with [http://http://jboss.com/products/seam/drools] -->
					<axis path="*/drools:rule-files/value/" />
         		</partitionType>
         	</contentType>
		</hyperlinkPartitioner>
		
		<hyperlinkPartitioner 
         	id="org.jboss.tools.seam.text.ext.hyperlink.TestNGHyperlinkPartitioner"
         	class="org.jboss.tools.common.text.ext.hyperlink.xml.XMLClassHyperlinkPartitioner">
         	<contentType id="org.eclipse.wst.xml.core.xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="/suite/test/classes/class/name/" />
         		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.core.runtime.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="/suite/test/classes/class/name/" />
         		</partitionType>
         	</contentType>
         	
		</hyperlinkPartitioner>
   </extension>
   
	<extension 
		point="org.jboss.tools.common.text.ext.hyperlink"
		id="org.jboss.tools.seam.text.ext.hyperlink"
		name="org.jboss.tools.seam.text.ext.hyperlink">

		<hyperlink 
			class="org.jboss.tools.seam.text.ext.hyperlink.SeamBeanHyperlink" 
			id="org.jboss.tools.seam.text.ext.hyperlink.SeamBeanHyperlink">
			<contenttypeidentifier id="org.eclipse.jst.jsp.core.jspsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.eclipse.wst.html.core.htmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.eclipse.core.runtime.xml">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.common.model.ui.xml">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.seam.xml.ui.pages12xmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.seam.xml.ui.page12xmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.seam.xml.ui.pages20xmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.seam.xml.ui.page20xmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.seam.xml.ui.pages21xmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.seam.xml.ui.page21xmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
		</hyperlink>

		<hyperlink 
			class="org.jboss.tools.seam.text.ext.hyperlink.SeamMessagesBeanHyperlink" 
			id="org.jboss.tools.seam.text.ext.hyperlink.SeamBeanHyperlink">
			<contenttypeidentifier id="org.eclipse.jst.jsp.core.jspsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_MESSAGES_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.eclipse.wst.html.core.htmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_MESSAGES_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.eclipse.core.runtime.xml">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_MESSAGES_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.common.model.ui.xml">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_MESSAGES_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.seam.xml.ui.pages12xmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_MESSAGES_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.seam.xml.ui.page12xmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_MESSAGES_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.seam.xml.ui.pages20xmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_MESSAGES_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.seam.xml.ui.page20xmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_MESSAGES_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.seam.xml.ui.pages21xmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_MESSAGES_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.seam.xml.ui.page21xmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_MESSAGES_BEAN" />
			</contenttypeidentifier>
		</hyperlink>
		
		<hyperlink 
			class="org.jboss.tools.seam.text.ext.hyperlink.SeamViewHyperlink" 
	  		id="org.jboss.tools.seam.text.ext.hyperlink.SeamViewHyperlink">
			<contenttypeidentifier id="org.eclipse.jst.jsp.core.jspsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_VIEW_LINK" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.eclipse.wst.html.core.htmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_VIEW_LINK" />
			</contenttypeidentifier>
			
			<contenttypeidentifier id="org.eclipse.core.runtime.xml">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_VIEW_LINK" />
         	</contenttypeidentifier>
         	<contenttypeidentifier id="org.jboss.tools.common.model.ui.xml">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_VIEW_LINK" />
         	</contenttypeidentifier>
		</hyperlink>
		
		<!-- JBIDE-4002 <bpm:process-definitions> and <bpm:pageflow-definitions> in components.xml -->
		<!-- JBIDE-3901 <drools:rule-files> in components.xml -->
		<hyperlink 
			class="org.jboss.tools.seam.text.ext.hyperlink.ComponentsHyperlink" 
	  		id="org.jboss.tools.seam.text.ext.hyperlink.ComponentsHyperlink">
         	<contenttypeidentifier id="org.jboss.tools.common.model.ui.xml">
				<partitiontype id="org.jboss.tools.seam.text.ext.BPM_DEFINITION" />
				<partitiontype id="org.jboss.tools.seam.text.ext.DROOLS_RULE_DEFINITION" />
         	</contenttypeidentifier>
		</hyperlink>
   </extension>

	<extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="org.jboss.tools.seam.text.ext.hyperlink.SeamELInJavaStringHyperlinkDetector"
            id="org.jboss.tools.seam.text.ext.hyperlink.SeamELInJavaStringHyperlinkDetector"
            name="%SeamELInJavaStringHyperlinkDetector"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
      <hyperlinkDetector
            class="org.jboss.tools.seam.text.ext.hyperlink.SeamComponentHyperlinkDetector"
            id="org.jboss.tools.seam.text.ext.hyperlink.SeamComponentHyperlinkDetector"
            name="Seam Component"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
      
   </extension>

	<extension point="org.jboss.tools.jst.web.kb.KbIncludeContext">
		<include uri="http://jboss.com/products/seam/taglib">
			<tag name="decorate">
	        	<attribute name="template" />
			</tag>
		</include>
   </extension>

</plugin>
