<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   	<extension 
		point="org.jboss.tools.common.text.ext.hyperlinkPartitioner"
		id="org.jboss.tools.seam.text.ext.hyperlinkPartitioner"
		name="org.jboss.tools.seam.text.ext.hyperlinkPartitioner">

		<hyperlinkPartitioner 
         	id="org.jboss.tools.seam.text.ext.hyperlink.SeamBeanHyperlinkPartitioner"
         	class="org.jboss.tools.seam.text.ext.hyperlink.SeamBeanHyperlinkPartitioner">
         	<contentType id="org.eclipse.jst.jsp.core.jspsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION" />
         	</contentType>
         	<contentType id="org.eclipse.wst.html.core.htmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION" />
         	</contentType>
         	<contentType id="org.eclipse.core.runtime.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_EXPRESSION" />
         	</contentType>
         	
         	<!-- org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE -->
         	<!-- org.jboss.tools.common.text.ext.xml.XML_TEXT -->
		</hyperlinkPartitioner>
		<hyperlinkPartitioner 
	         id="org.jboss.tools.common.text.ext.jsf.hyperlink.JSPExprHyperlinkPartitioner1"
   	      class="org.jboss.tools.jsf.text.ext.hyperlink.JSPExprHyperlinkPartitioner">

         	<contentType id="org.eclipse.core.runtime.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE" />
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_TEXT" />
         	</contentType>
		</hyperlinkPartitioner>
   </extension>
   
	<extension 
		point="org.jboss.tools.common.text.ext.hyperlink"
		id="org.jboss.tools.seam.text.ext.hyperlink"
		name="org.jboss.tools.seam.text.ext.hyperlink">

		<hyperlink 
			class="org.jboss.tools.seam.text.ext.hyperlink.SeamBeanHyperlink" 
			id="org.jboss.tools.seam.text.ext.hyperlink.SeamBeanHyperlink">
			<contenttypeidentifier id="org.eclipse.jst.jsp.core.jspsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.eclipse.wst.html.core.htmlsource">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.eclipse.core.runtime.xml">
				<partitiontype id="org.jboss.tools.seam.text.ext.SEAM_BEAN" />
			</contenttypeidentifier>
		</hyperlink>
   </extension>

</plugin>
