<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.jboss.tools.vpe.templates">
      <templates
            decsription="VPE templates for Struts support"
            name="Struts"
            path="templates/vpe-templates-struts.xml">
      </templates>
   </extension>

</plugin>
