<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension 
		point="org.jboss.tools.common.text.ext.hyperlinkPartitioner"
		id="org.jboss.tools.common.text.ext.jsf.facelets.hyperlinkPartitioner"
		name="org.jboss.tools.common.text.ext.jsf.facelets.hyperlinkPartitioner">

		<hyperlinkPartitioner 
         	id="org.jboss.tools.common.text.ext.jsf.facelets.hyperlink.FaceletsExprHyperlinkPartitioner"
         	class="org.jboss.tools.jsf.text.ext.hyperlink.JSPExprHyperlinkPartitioner">
         	<contentType id="org.eclipse.jst.jsp.core.jspsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_ROOT" />
         	</contentType>
         	<contentType id="org.eclipse.wst.html.core.htmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.JSP_ROOT" />
         	</contentType>
		</hyperlinkPartitioner>

		<hyperlinkPartitioner 
         	id="org.jboss.tools.common.text.ext.jsf.facelets.hyperlink.ExprHyperlinkPartitioner"
         	class="org.jboss.tools.jsf.text.ext.hyperlink.JSPExprHyperlinkPartitioner">
         	<contentType id="org.eclipse.jst.jsp.core.jspsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.FACELETS_ATTRIBUTE_VALUE_WITH_EXPR" />
         	</contentType>
         	<contentType id="org.eclipse.wst.html.core.htmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.jsp.FACELETS_ATTRIBUTE_VALUE_WITH_EXPR" />
         	</contentType>
		</hyperlinkPartitioner>

		<hyperlinkPartitioner 
         	id="org.jboss.tools.common.text.ext.jsf.facelets.hyperlink.FaceletsTemplateHyperlinkPartitioner"
         	class="org.jboss.tools.jsf.text.ext.hyperlink.JSFJSPLinkHyperlinkPartitioner">
         	<contentType id="org.eclipse.jst.jsp.core.jspsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://java.sun.com/jsf/facelets]:composition/template/" />
         			<axis path="*/[http://java.sun.com/jsf/facelets]:decorate/template/" />
         			<axis path="*/[http://jboss.com/products/seam/taglib]:decorate/template/" />
         			<axis path="*/[http://java.sun.com/jsf/facelets]:include/src/" />
         		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.wst.html.core.htmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://java.sun.com/jsf/facelets]:composition/template/" />
         			<axis path="*/[http://java.sun.com/jsf/facelets]:decorate/template/" />
         			<axis path="*/[http://jboss.com/products/seam/taglib]:decorate/template/" />
         			<axis path="*/[http://java.sun.com/jsf/facelets]:include/src/" />
         		</partitionType>
         	</contentType>
		</hyperlinkPartitioner>

		<hyperlinkPartitioner 
         	id="org.jboss.tools.common.text.ext.jsf.facelets.hyperlink.FaceletsAttributeValueWithExprHyperlinkPartitioner"
         	class="org.jboss.tools.jsf.text.ext.facelets.hyperlink.FaceletsAttributeValueWithExprHyperlinkPartitioner">
         	<contentType id="org.eclipse.jst.jsp.core.jspsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_TEXT" />
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://java.sun.com/jsf/facelets]:component/id/" />
         			<axis path="*/[http://java.sun.com/jsf/facelets]:component/binding/" />

         			<axis path="*/[http://java.sun.com/jsf/facelets]:component/rendered/" />

         			<axis path="*/[http://java.sun.com/jsf/facelets]:define/name/" />

         			<axis path="*/[http://java.sun.com/jsf/facelets]:fragment/id/" /> 
         			<axis path="*/[http://java.sun.com/jsf/facelets]:fragment/binding/" />

         			<axis path="*/[http://java.sun.com/jsf/facelets]:insert/name/" />

        			<axis path="*/[http://java.sun.com/jsf/facelets]:param/name/" /> 
         			<axis path="*/[http://java.sun.com/jsf/facelets]:param/value/" />
         		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.wst.html.core.htmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_TEXT" />
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://java.sun.com/jsf/facelets]:component/id/" />
         			<axis path="*/[http://java.sun.com/jsf/facelets]:component/binding/" />

         			<axis path="*/[http://java.sun.com/jsf/facelets]:component/rendered/" />

         			<axis path="*/[http://java.sun.com/jsf/facelets]:define/name/" />

         			<axis path="*/[http://java.sun.com/jsf/facelets]:fragment/id/" /> 
         			<axis path="*/[http://java.sun.com/jsf/facelets]:fragment/binding/" />

         			<axis path="*/[http://java.sun.com/jsf/facelets]:insert/name/" />

        			<axis path="*/[http://java.sun.com/jsf/facelets]:param/name/" /> 
         			<axis path="*/[http://java.sun.com/jsf/facelets]:param/value/" />
         		</partitionType>
         	</contentType>
		</hyperlinkPartitioner>

		<hyperlinkPartitioner 
         	id="org.jboss.tools.common.text.ext.jsf.facelets.hyperlink.FaceletsAttributeValueWithNoExprHyperlinkPartitioner"
         	class="org.jboss.tools.jsf.text.ext.facelets.hyperlink.FaceletsAttributeValueWithNoExprHyperlinkPartitioner">
         	<contentType id="org.eclipse.jst.jsp.core.jspsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://java.sun.com/jsf/facelets]:component/hotkey/" />
         		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.wst.html.core.htmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://java.sun.com/jsf/facelets]:component/hotkey/" />
         		</partitionType>
         	</contentType>
		</hyperlinkPartitioner>
		
		<hyperlinkPartitioner 
         	id="org.jboss.tools.jsf.text.ext.facelets.hyperlink.FaceletsCSSClassHyperlinkPartitioner"
         	class="org.jboss.tools.jsf.text.ext.facelets.hyperlink.FaceletsCSSClassHyperlinkPartitioner">
         	
         	<contentType id="org.eclipse.jst.jsp.core.jspsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://java.sun.com/jsf/html]:*/columnClasses/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/footerClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/headerClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/rowClasses/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/captionClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/styleClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/errorClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/fatalClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/infoClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/warnClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/disabledClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/enabledClass/" />
         		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.wst.html.core.htmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/[http://java.sun.com/jsf/html]:*/columnClasses/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/footerClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/headerClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/rowClasses/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/captionClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/styleClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/errorClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/fatalClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/infoClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/warnClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/disabledClass/" />
         			<axis path="*/[http://java.sun.com/jsf/html]:*/enabledClass/" />
         		</partitionType>
         	</contentType>
		</hyperlinkPartitioner>
		
	</extension>
	
	<extension 
		point="org.jboss.tools.common.text.ext.hyperlink"
		id="org.jboss.tools.common.text.ext.jsf.facelets.hyperlink"
		name="org.jboss.tools.common.text.ext.jsf.facelets.hyperlink">
		
		<hyperlink 
			class="org.jboss.tools.jsf.text.ext.facelets.hyperlink.FaceletsCSSClassHyperlink" 
			id="org.jboss.tools.jsf.text.ext.facelets.hyperlink.FaceletsCSSClassHyperlink">
			<contenttypeidentifier id="org.eclipse.jst.jsp.core.jspsource">
				<partitiontype id="org.jboss.tools.common.text.ext.FACELETS_CSS_CLASS" />
			</contenttypeidentifier>
   			<contenttypeidentifier id="org.eclipse.wst.html.core.htmlsource">
				<partitiontype id="org.jboss.tools.common.text.ext.FACELETS_CSS_CLASS" />
			</contenttypeidentifier>
		</hyperlink>
		
	</extension>	
	
	<extension point="org.jboss.tools.jst.web.kb.KbIncludeContext">
		<include uri="http://java.sun.com/jsf/facelets">
			<tag name="composition">
	        	<attribute name="template" />
			</tag>
			<tag name="decorate">
	        	<attribute name="template" />
			</tag>
			<tag name="include">
	        	<attribute name="src" />
			</tag>
		</include>
   </extension>
</plugin>
