<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension id="e" name="XML Editors" point="org.jboss.tools.common.model.ui.xmlEditor">
      <xmlEditor 
            class="org.jboss.tools.seam.ui.pages.editor.SeamPagesEditor" 
            contributorClass="org.jboss.tools.common.model.ui.texteditors.MultiPageContributor" 
            entities="FileSeamPages12,FileSeamPages20" 
            icon="images/xstudio/editors/seam-pages.gif" 
            name="Seam Pages">
      </xmlEditor>
   </extension>


</plugin>
