<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension id="e" name="XML Editors" point="org.jboss.tools.common.model.ui.xmlEditor">
      <xmlEditor 
            class="org.jboss.tools.seam.ui.pages.editor.SeamPagesEditor" 
            contributorClass="org.jboss.tools.common.model.ui.texteditors.MultiPageContributor" 
            entities="FileSeamPages12,FileSeamPages20" 
            icon="images/xstudio/editors/seam-pages.gif" 
            name="Seam Pages">
      </xmlEditor>
      <xmlEditor 
            class="org.jboss.tools.jst.web.ui.editors.WebCompoundEditor" 
            contributorClass="org.jboss.tools.common.model.ui.texteditors.MultiPageContributor" 
            entities="FileSeamPage12,FileSeamPage20" 
            icon="images/xstudio/editors/seam-components.gif" 
            name="Seam Page">
      </xmlEditor>
   </extension>

	<extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.seam.ui.pages.editor.wizard.SelectItemWizard"
			class="org.jboss.tools.seam.ui.pages.editor.wizard.SelectItemWizard"/>
   </extension>

</plugin>
