<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
    <editor
      id="org.jboss.tools.batch.editor.JobXmlEditor"
      name="Batch Job Configuration Editor"
      icon="platform:/plugin/org.jboss.tools.batch.ui/images/batch_icon16.png"
      default="true">
      <contentTypeBinding contentTypeId="org.jboss.tools.batch.ui.jobxml"/>
      
      <!--
      <class class="org.eclipse.sapphire.ui.swt.xml.editor.SapphireEditorForXml">
        <parameter name="sdef" value="org.jboss.tools.batch.ui.editor.internal.model.JobXMLEditor"/>
      </class>
      -->
      
      <class class="org.jboss.tools.batch.ui.editor.internal.model.JobXMLEditor"></class>
    </editor>
  </extension>
  
  <extension point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution>
      <uri
        name="jobXML_1_0.xsd"
        uri="schemas/jobXML_1_0.xsd"/>
      <system
            systemId="http://xmlns.jcp.org/xml/ns/javaee"
            uri="schemas/jobXML_1_0.xsd">
      </system>
      <public
            publicId="http://xmlns.jcp.org/xml/ns/javaee"
            uri="schemas/jobXML_1_0.xsd">
      </public>
    </catalogContribution>
  </extension>

  <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="xml"
            id="jobxml"
            name="Job XML file"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="job">
            </parameter>
         </describer>
      </content-type>
  </extension>

  <extension
         point="org.eclipse.ui.propertyPages">
       <page
            name="%PreferencePage_JSFValidation"
            class="org.jboss.tools.batch.ui.internal.preferences.BatchValidationPreferencePage"
            id="org.jboss.tools.batch.ui.propertyPages.BatchValidationPreferencePage">
         <enabledWhen>
		     	<adapt type="org.eclipse.core.resources.IProject">
		     		<test property="org.eclipse.core.resources.projectNature" value="org.jboss.tools.jst.web.kb.kbnature"/>
				</adapt>
         </enabledWhen>
      </page>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.jboss.tools.common.model.ui.MainPreferencePage"
            class="org.jboss.tools.batch.ui.internal.preferences.BatchPreferencesPage"
            id="org.jboss.tools.common.model.ui.batch"
            name="%PreferencePage_Batch">
      </page>
      <page 
         category="org.jboss.tools.common.model.ui.batch" 
         class="org.jboss.tools.batch.ui.internal.preferences.BatchValidationPreferencePage" 
         id="org.jboss.tools.batch.ui.preferences.BatchValidationPreferencePage" 
         name="%PreferencePage_Validator">
      </page>
   </extension>
<extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="org.jboss.tools.batch.ui.hyperlink.BatchHyperlinkDetector"
            id="org.jboss.tools.batch.ui.text.ext.BatchHyperlinkDetector"
            name="Batch XML hyperlinks"
            targetId="org.eclipse.core.runtime.xml">
      </hyperlinkDetector>
   	</extension>
</plugin>
