<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
	      point="org.jboss.tools.cdi.core.cdiextensions">
	    <cdiextension
           class="org.jboss.tools.cdi.microprofile.core.restclient.RestClientExtension"
           recognizer="org.jboss.tools.cdi.core.extension.DefaultExtensionRecognizer"
           runtime="org.eclipse.microprofile.rest.client.inject.RestClient">
	    </cdiextension>
	    <cdiextension
           class="org.jboss.tools.cdi.microprofile.core.config.ConfigExtension"
           recognizer="org.jboss.tools.cdi.core.extension.DefaultExtensionRecognizer"
           runtime="org.eclipse.microprofile.config.inject.ConfigProperty">
	    </cdiextension>
	    
	</extension>

</plugin>
