<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.jboss.tools.common.model.meta">
      <meta path="meta/seam-components.meta"/>
      <meta path="meta/seam-core.meta"/>
      <meta path="meta/seam-drools.meta"/>
      <meta path="meta/seam-framework.meta"/>
      <meta path="meta/seam-mail.meta"/>
      <meta path="meta/seam-pdf.meta"/>
      <meta path="meta/seam-theme.meta"/>
      <meta path="meta/seam-web.meta"/>
      <meta path="meta/seam-security.meta"/>
      <meta path="meta/seam-jms.meta"/>
      <meta path="meta/seam-remoting.meta"/>
      <meta path="meta/seam-spring.meta"/>
   </extension>

   <extension point="org.jboss.tools.common.model.keys">
      <keys path="help/keys-seam.properties">
      </keys>
   </extension>

   	<extension
		point="org.eclipse.wst.xml.core.catalogContributions">
		<catalogContribution id="default">
		</catalogContribution>
	</extension>	

	<extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.seam.xml.components.model.FileSeamComponentsImpl"
			class="org.jboss.tools.seam.xml.components.model.FileSeamComponentsImpl"/>
		<xclass id="org.jboss.tools.seam.xml.components.model.SeamComponentsFileLoader"
			class="org.jboss.tools.seam.xml.components.model.SeamComponentsFileLoader"/>
		<xclass id="org.jboss.tools.seam.xml.components.model.SeamComponents11FileLoader"
			class="org.jboss.tools.seam.xml.components.model.SeamComponents11FileLoader"/>
		<xclass id="org.jboss.tools.seam.xml.components.model.SeamComponentsEntityRecognizer"
			class="org.jboss.tools.seam.xml.components.model.SeamComponentsEntityRecognizer"/>
	</extension>

 <extension point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution id="default">
         <uri 
            name="http://jboss.com/products/seam/components" 
            uri="schemas/components-1.2.xsd"/>
         <public 
         	publicId="http://jboss.com/products/seam/components" 
         	uri="schemas/components-1.2.xsd"/>

         <uri 
            name="http://jboss.com/products/seam/core" 
            uri="schemas/core-1.2.xsd"/>
         <public 
         	publicId="http://jboss.com/products/seam/core" 
         	uri="schemas/core-1.2.xsd"/>

         <uri 
            name="http://jboss.com/products/seam/drools" 
            uri="schemas/drools-1.2.xsd"/>
         <public 
         	publicId="http://jboss.com/products/seam/drools" 
         	uri="schemas/drools-1.2.xsd"/>

         <uri 
            name="http://jboss.com/products/seam/framework" 
            uri="schemas/framework-1.2.xsd"/>
         <public 
         	publicId="http://jboss.com/products/seam/framework" 
         	uri="schemas/framework-1.2.xsd"/>

         <uri 
            name="http://jboss.com/products/seam/jms" 
            uri="schemas/jms-1.2.xsd"/>
         <public 
         	publicId="http://jboss.com/products/seam/jms" 
         	uri="schemas/jms-1.2.xsd"/>

         <uri 
            name="http://jboss.com/products/seam/mail" 
            uri="schemas/mail-1.2.xsd"/>
         <public 
         	publicId="http://jboss.com/products/seam/mail" 
         	uri="schemas/mail-1.2.xsd"/>

         <uri 
            name="http://jboss.com/products/seam/pdf" 
            uri="schemas/pdf-1.2.xsd"/>
         <public 
         	publicId="http://jboss.com/products/seam/pdf" 
         	uri="schemas/pdf-1.2.xsd"/>

         <uri 
            name="http://jboss.com/products/seam/remoting" 
            uri="schemas/remoting-1.2.xsd"/>
         <public 
         	publicId="http://jboss.com/products/seam/remoting" 
         	uri="schemas/remoting-1.2.xsd"/>

         <uri 
            name="http://jboss.com/products/seam/security" 
            uri="schemas/security-1.2.xsd"/>
         <public 
         	publicId="http://jboss.com/products/seam/security" 
         	uri="schemas/security-1.2.xsd"/>

         <uri 
            name="http://jboss.com/products/seam/spring" 
            uri="schemas/spring-1.2.xsd"/>
         <public 
         	publicId="http://jboss.com/products/seam/spring" 
         	uri="schemas/spring-1.2.xsd"/>

         <uri 
            name="http://jboss.com/products/seam/theme" 
            uri="schemas/theme-1.2.xsd"/>
         <public 
         	publicId="http://jboss.com/products/seam/theme" 
         	uri="schemas/theme-1.2.xsd"/>

         <uri 
            name="http://jboss.com/products/seam/web" 
            uri="schemas/web-1.2.xsd"/>
         <public 
         	publicId="http://jboss.com/products/seam/web" 
         	uri="schemas/web-1.2.xsd"/>

         <public 
         	publicId="-//JBoss/Seam Component Configuration DTD 1.1//EN" 
         	uri="dtds/components-1.1.dtd"/>

      </catalogContribution>
   </extension>
</plugin>