<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.jboss.tools.common.model.meta">
      <meta path="meta/cdi-beans.meta"/>
      <meta path="meta/cdi-weld.meta"/>
      <meta path="meta/cdi-beans11.meta"/>
   </extension>

   <extension point="org.jboss.tools.common.model.keys">
      <keys path="help/keys-cdi.properties"/>
      <keys path="help/keys-cdi-attrs.properties"/>
      <keys path="help/keys-cdi-menu.properties"/>
   </extension>

	<extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.cdi.xml.beans.model.FileCDIBeansImpl"
			class="org.jboss.tools.cdi.xml.beans.model.FileCDIBeansImpl"/>
		<xclass id="org.jboss.tools.cdi.xml.beans.model.CDIBeansFileLoader"
			class="org.jboss.tools.cdi.xml.beans.model.CDIBeansFileLoader"/>
		<xclass id="org.jboss.tools.cdi.xml.beans.model.CDIBeansEntityRecognizer"
			class="org.jboss.tools.cdi.xml.beans.model.CDIBeansEntityRecognizer"/>

		<xclass id="org.jboss.tools.cdi.xml.beans.model.handlers.AddIncludeSupport"
			class="org.jboss.tools.cdi.xml.beans.model.handlers.AddIncludeSupport"/>
		<xclass id="org.jboss.tools.cdi.xml.beans.model.handlers.AddScanHandler"
			class="org.jboss.tools.cdi.xml.beans.model.handlers.AddScanHandler"/>

	</extension>

 <extension point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution id="default">
         <uri 
            name="http://jboss.org/schema/weld/beans_1_1.xsd" 
            uri="platform:/plugin/org.jboss.tools.cdi.xml/schemas/beans_1_1.xsd"/>

         <uri 
            name="http://jboss.org/schema/cdi/beans_1_0.xsd" 
            uri="platform:/plugin/org.jboss.tools.cdi.xml/schemas/beans.xsd"/>

         <uri 
            name="http://xmlns.jcp.org/xml/ns/javaee" 
            uri="platform:/plugin/org.jboss.tools.cdi.xml/schemas/1.1/beans_1_1.xsd"/>

      </catalogContribution>
   </extension>


</plugin>
