<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard 
         category="org.jboss.tools.seam.ui" 
         class="org.jboss.tools.seam.xml.ui.wizard.newfile.NewSeamComponentsFileWizard" 
         icon="$nl$/images/seam16.png" 
         id="org.jboss.tools.seam.xml.ui.wizard.newfile.NewSeamComponentsFileWizard" 
         name="Seam Components File" 
         project="false">
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
         <description>
            Create a Seam Components XML File
         </description>
      </wizard>
   </extension>

   <extension id="e" name="XML Editors" point="org.jboss.tools.common.model.ui.xmlEditor">
      <xmlEditor 
            class="org.jboss.tools.jst.web.ui.editors.WebCompoundEditor" 
            contributorClass="org.jboss.tools.common.model.ui.texteditors.MultiPageContributor" 
            entities="FileSeamComponents11,FileSeamComponents12,FileSeamComponents20,FileSeamComponents21,FileSeamComponents22,FileSeamComponent12,FileSeamComponent20,FileSeamComponent21,FileSeamComponent22" 
            icon="$nl$/images/xstudio/editors/seam-components.gif" 
            name="%editors.spring-beans.name">
      </xmlEditor>
   </extension>

	<extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.seam.xml.ui.editor.form.SeamXMLFormLayoutData"
			class="org.jboss.tools.seam.xml.ui.editor.form.SeamXMLFormLayoutData"/>
		<xclass id="org.jboss.tools.seam.xml.ui.editor.form.core.SeamComponentsCoreFormLayoutData"
			class="org.jboss.tools.seam.xml.ui.editor.form.core.SeamComponentsCoreFormLayoutData"/>
	</extension>

     <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            file-names="pages.xml"
            id="pages12xmlsource"
            name="Pages 1.2 XML Content-Type"
            priority="normal">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="pages"/>
            <parameter
                  name="dtd"
                  value="http://jboss.com/products/seam/pages-1.2.dtd"/>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            file-names=".page.xml"
            id="page12xmlsource"
            name="Page 1.2 XML Content-Type"
            priority="normal">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="page"/>
            <parameter
                  name="dtd"
                  value="http://jboss.com/products/seam/pages-1.2.dtd"/>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            file-names="pages.xml"
            id="pages20xmlsource"
            name="Pages 2.0 XML Content-Type"
            priority="normal">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="pages"/>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            file-names=".page.xml"
            id="page20xmlsource"
            name="Page 2.0 XML Content-Type"
            priority="normal">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="page"/>
         </describer>
      </content-type>
   </extension>


</plugin>
