<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.jboss.tools.common.verification.rules">
      <rule-set path="meta/.rule-sets.xml"/>
   </extension>

   <extension
         point="org.jboss.tools.common.model.resourceMapping">
      <mapping
          loader="org.jboss.tools.struts.verification"
          priority="0"
          kind="class"
          paths=".struts.verification."
      />
   </extension>

	<extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.struts.verification.ActionForwardCheck"
			class="org.jboss.tools.struts.verification.ActionForwardCheck"/>
		<xclass id="org.jboss.tools.struts.verification.ActionNameCheck"
			class="org.jboss.tools.struts.verification.ActionNameCheck"/>
		<xclass id="org.jboss.tools.struts.verification.ActionRefsCheck"
			class="org.jboss.tools.struts.verification.ActionRefsCheck"/>
		<xclass id="org.jboss.tools.struts.verification.ActionTypeCheck"
			class="org.jboss.tools.struts.verification.ActionTypeCheck"/>
		<xclass id="org.jboss.tools.struts.verification.BundleLoader"
			class="org.jboss.tools.struts.verification.BundleLoader"/>
		<xclass id="org.jboss.tools.struts.verification.CheckInitParam"
			class="org.jboss.tools.struts.verification.CheckInitParam"/>
		<xclass id="org.jboss.tools.struts.verification.GlobalExceptionCheck"
			class="org.jboss.tools.struts.verification.GlobalExceptionCheck"/>
		<xclass id="org.jboss.tools.struts.verification.GlobalForwardCheck"
			class="org.jboss.tools.struts.verification.GlobalForwardCheck"/>
		<xclass id="org.jboss.tools.struts.verification.ResourceCheck"
			class="org.jboss.tools.struts.verification.ResourceCheck"/>
		<xclass id="org.jboss.tools.struts.verification.StrutsConfigCheck"
			class="org.jboss.tools.struts.verification.StrutsConfigCheck"/>
		<xclass id="org.jboss.tools.struts.verification.StrutsConfigControllerCheck"
			class="org.jboss.tools.struts.verification.StrutsConfigControllerCheck"/>
		<xclass id="org.jboss.tools.struts.verification.ValidateTypeUtil"
			class="org.jboss.tools.struts.verification.ValidateTypeUtil"/>
	</extension>
</plugin>