<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
          point="org.jboss.tools.jst.web.kb.cobuilders">
       <builder
             class="org.jboss.tools.batch.internal.core.impl.BatchBuilder">
       </builder>
    </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.tools.batch.internal.core.preferences.BatchPreferenceInitializer"/>
   </extension>

   <extension
         id="BatchValidator"
         point="org.jboss.tools.common.validation.validator">
         <validator
               class="org.jboss.tools.batch.internal.core.validation.BatchValidator"
               name="%BatchValidator"
               id="org.jboss.tools.batch.validator.BatchValidator"
               problemType="org.jboss.tools.batch.core.batchproblem">
         </validator>
   </extension>

   <extension id="batchproblem" name="%BatchProblemName" point="org.eclipse.core.resources.markers">
      <super type="org.jboss.tools.common.validation.JBTValidationProblem">
      </super>
      <persistent value="true">
      </persistent>
   </extension>

   <extension
         point="org.jboss.tools.common.el.core.elResolver">
         <el-resolver id="batchELResolver">
         	<project-nature id="org.jboss.tools.jst.web.kb.kbnature" 
         		resolver-class="org.jboss.tools.batch.internal.core.el.JobPropertiesELCompletionEngine"/>
         </el-resolver>
   </extension>

   <extension
         point="org.jboss.tools.common.el.core.elResolver">
         <el-resolver id="batchELResolver2">
         	<project-nature id="org.jboss.tools.jst.web.kb.kbnature" 
         		resolver-class="org.jboss.tools.batch.internal.core.el.JobELValidator"/>
         </el-resolver>
   </extension>

   <extension
   		 id="BatchELValidationDelegate"
         point="org.jboss.tools.jst.web.kb.elValidationDelegate">
         <delegate
         	   name="%BatchELValidationDelegate"
               class="org.jboss.tools.batch.internal.core.validation.BatchELValidationDelegate">
         </delegate>
   </extension>

</plugin>
