<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.tools.vpe.ui.test">
      <tests
            name="JbpmVisualAllTests"
            testSuite="org.jboss.tools.jsf.vpe.jbpm.test.JbpmVisualAllTests">
      </tests>
      <testProject
            name="jBPMTestProject"
            path="resources/jBPMTestProject">
      </testProject>
   </extension>

</plugin>
