<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="assignableBeanFilterContributors" name="Assignable Bean Filter Contributors" schema="schema/assignableBeanFilterContributors.exsd"/>

	<extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="org.jboss.tools.cdi.text.ext.hyperlink.InjectedPointHyperlinkDetector"
            id="org.jboss.tools.cdi.text.ext.hyperlink.InjectedPointHyperlinkDetector"
            name="%InjectedPointHyperlinkDetector"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>

	<extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="org.jboss.tools.cdi.text.ext.hyperlink.ProducerDisposerHyperlinkDetector"
            id="org.jboss.tools.cdi.text.ext.hyperlink.ProducerDisposerHyperlinkDetector"
            name="%ProducerDisposerHyperlinkDetector"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   
	<extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="org.jboss.tools.cdi.text.ext.hyperlink.EventAndObserverMethodHyperlinkDetector"
            id="org.jboss.tools.cdi.text.ext.hyperlink.EventAndObserverMethodHyperlinkDetector"
            name="%EventAndObserverMethodHyperlinkDetector"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>

   	<extension 
		point="org.jboss.tools.common.text.ext.hyperlinkPartitioner"
		id="org.jboss.tools.cdi.text.ext.hyperlinkPartitioner"
		name="org.jboss.tools.cdi.text.ext.hyperlinkPartitioner">
		<hyperlinkPartitioner 
         	id="org.jboss.tools.cdi.text.ext.hyperlink.TypeNameHyperlinkPartitioner"
         	class="org.jboss.tools.common.text.ext.hyperlink.xml.XMLClassHyperlinkPartitioner">
         	<contentType id="org.jboss.tools.common.model.ui.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT">
         			<axis path="/beans/*/class/" />
         		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.core.runtime.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT">
         			<axis path="/beans/*/class/" />
         		</partitionType>
         	</contentType>
         	<contentType id="org.jboss.tools.common.model.ui.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT">
         			<axis path="/beans/alternatives/stereotype/" />
         		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.core.runtime.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ROOT">
         			<axis path="/beans/alternatives/stereotype/" />
         		</partitionType>
         	</contentType>
		</hyperlinkPartitioner>
   </extension>

</plugin>
