<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
       point="org.eclipse.wst.sse.ui.completionProposal">
	<proposalCategory
          icon="icons/cdi16.png"
          id="org.jboss.tools.cdi.ui.proposalCategory.seamConfigTag"
          name="%proposalCategory.seamConfigTag">
    </proposalCategory>
    <proposalComputer
          activate="true"
          categoryId="org.jboss.tools.cdi.ui.proposalCategory.cdiClass"
          class="org.jboss.tools.cdi.seam.config.ui.contentassist.SeamConfigXmlCompletionProposalComputer"
          id="org.jboss.tools.cdi.seam.config.ui.configXML">
			<contentType id="org.eclipse.core.runtime.xml">
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT" />
			</contentType>
			<contentType id="org.eclipse.wst.xml.core.xmlsource">
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT" />
			</contentType>
			<contentType id="org.jboss.tools.common.model.ui.xml">
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT" />
			</contentType>
    </proposalComputer>
   </extension>

<extension
      point="org.jboss.tools.cdi.ui.configBlockDescriptionProvider">
   <provider
         class="org.jboss.tools.cdi.seam.config.ui.preferences.CDISeamConfigurationBlockDescriptionProvider">
   </provider>
</extension>
</plugin>
