<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.jboss.tools.common.el.core.elResolver">
         <el-resolver id="cdiInternationalMessagesELResolver">
         	<project-nature id="org.jboss.tools.cdi.core.cdinature" 
         		resolver-class="org.jboss.tools.cdi.seam.core.international.el.CDIInternationalMessagesELResolver"/>
         </el-resolver>
   </extension>

	<extension
	      point="org.jboss.tools.cdi.core.cdiextensions">
    	<cdiextension
	          class="org.jboss.tools.cdi.seam.core.international.CDISeamInternationalExtension"
        	  runtime="org.jboss.seam.international.status.TypedStatusMessageBundleExtension">
    	</cdiextension>
	    <cdiextension
        	  class="org.jboss.tools.cdi.seam.core.persistence.CDISeamPersistenceExtension"
    	      runtime="org.jboss.seam.persistence.ManagedPersistenceContextExtension">
	    </cdiextension>
	    <cdiextension
	          class="org.jboss.tools.cdi.seam.core.servlet.SeamServletExtension"
	          runtime="org.jboss.seam.servlet.ServletExtension">
	    </cdiextension>
	    <cdiextension
	          class="org.jboss.tools.cdi.seam.core.jms.JmsDestinationExtension"
	          runtime="org.jboss.seam.jms.Seam3JmsExtension">
	    </cdiextension>
	    <cdiextension
	          class="org.jboss.tools.cdi.seam.core.rest.SeamRestExtension"
	          runtime="org.jboss.seam.rest.client.RestClientExtension">
	    </cdiextension>
	</extension>

</plugin>