<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
	      point="org.jboss.tools.cdi.core.cdiextensions">
    <cdiextension
          class="org.jboss.tools.cdi.seam.config.core.CDISeamConfigExtension"
          runtime="org.jboss.solder.config.xml.bootstrap.XmlConfigExtension">
    </cdiextension>
    <cdiextension
          class="org.jboss.tools.cdi.seam.config.core.CDISeamConfig30Extension"
          runtime="org.jboss.seam.config.xml.bootstrap.XmlConfigExtension">
    </cdiextension>
	</extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.tools.cdi.seam.config.core.CDISeamConfigPreferenceInitializer"/>
   </extension>

</plugin>
