<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!--
   <extension point="org.eclipse.ui.editors">
      <editor name="%editors.validator.name" 
            icon="images/validator_file.gif" 
            contributorClass="org.jboss.tools.common.model.ui.texteditors.MultiPageContributor" 
            class="org.jboss.tools.struts.validator.ui.ValidationCompoundEditor" 
            id="org.jboss.tools.struts.validator.ui.ValidationCompoundEditor">
      </editor>
   </extension>
-->

<!--            extensions="xml" -->
   <extension point="org.jboss.tools.common.model.specialwizard">
      <specialwizard class="org.jboss.tools.struts.validator.ui.wizard.depends.DependencyWizard" id="org.jboss.tools.struts.validator.ui.wizard.depends.DependencyWizard">
      </specialwizard>
      <specialwizard class="org.jboss.tools.struts.validator.ui.wizard.key.SelectKeyWizard" id="org.jboss.tools.struts.validator.ui.wizard.key.SelectKeyWizard">
      </specialwizard>
   </extension>
   <extension point="org.jboss.tools.common.model.ui.attributeEditor">
      <attributeEditor class="org.jboss.tools.common.model.ui.attribute.editor.ComboBoxEditor" id="CountriesList">
      </attributeEditor>
      <attributeEditor class="org.jboss.tools.common.model.ui.attribute.editor.ComboBoxEditor" id="LanguagesList">
      </attributeEditor>
      <attributeEditor class="org.jboss.tools.common.model.ui.attribute.editor.ActiveEditor" id="ValidationDependency">
      </attributeEditor>
      <attributeEditor class="org.jboss.tools.common.model.ui.attribute.editor.ActiveEditor" id="SelectResourceKey">
      </attributeEditor>
   </extension>
   <extension point="org.jboss.tools.common.model.ui.attributeAdapter">
      <attributeAdapter class="org.jboss.tools.struts.validator.ui.adapter.CountryListAdapter" id="CountriesList">
      </attributeAdapter>
      <attributeAdapter class="org.jboss.tools.struts.validator.ui.adapter.LanguageListAdapter" id="LanguagesList">
      </attributeAdapter>
      <attributeAdapter class="org.jboss.tools.struts.validator.ui.adapter.DependencyEditorAdapter" id="ValidationDependency">
      </attributeAdapter>
      <attributeAdapter class="org.jboss.tools.struts.validator.ui.adapter.KeyEditorAdapter" id="SelectResourceKey">
      </attributeAdapter>
   </extension>
   <!--org.jboss.tools.common.model.ui.texteditors.MultiPageContributor-->
   <extension id="e" name="XML Editors" point="org.jboss.tools.common.model.ui.xmlEditor">
      <xmlEditor class="org.jboss.tools.struts.validator.ui.ValidationCompoundEditor" 
      contributorClass="org.jboss.tools.common.model.ui.texteditors.MultiPageContributor" 
      entities="FileValidationRules,FileValidationRules11" 
      icon="$nl$/images/validator_file.gif" 
      name="%editors.validator.name">
      </xmlEditor>
   </extension>

   <extension
         point="org.jboss.tools.common.model.resourceMapping">
      <mapping
          loader="org.jboss.tools.struts.validator.ui"
          priority="1"
          kind="class"
          paths=".validator.ui."
      />
   </extension>

   <extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.struts.validator.ui.ValidationCompoundEditor"
			class="org.jboss.tools.struts.validator.ui.ValidationCompoundEditor"/>
		<xclass id="org.jboss.tools.struts.validator.ui.wizard.depends.DependencyWizard"
			class="org.jboss.tools.struts.validator.ui.wizard.depends.DependencyWizard"/>
		<xclass id="org.jboss.tools.struts.validator.ui.wizard.key.SelectKeyWizard"
			class="org.jboss.tools.struts.validator.ui.wizard.key.SelectKeyWizard"/>
		<xclass id="org.jboss.tools.struts.validator.ui.wizard.depends.DependencyWizard"
			class="org.jboss.tools.struts.validator.ui.wizard.depends.DependencyWizard"/>
		<xclass id="org.jboss.tools.struts.validator.ui.wizard.key.SelectKeyWizard"
			class="org.jboss.tools.struts.validator.ui.wizard.key.SelectKeyWizard"/>
   </extension>

</plugin>
