<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
	      point="org.jboss.tools.cdi.core.cdiextensions">
	    <cdiextension
	          class="org.jboss.tools.cdi.deltaspike.core.DeltaspikeConfigPropertyExtension"
	          runtime="org.apache.deltaspike.core.impl.config.injectable.extension.ConfigPropertyExtension">
	    </cdiextension>
	    <cdiextension
	          class="org.jboss.tools.cdi.deltaspike.core.DeltaspikeExceptionExtension"
	          runtime="org.apache.deltaspike.core.impl.exception.control.extension.ExceptionControlExtension">
	    </cdiextension>
	    <cdiextension
	          class="org.jboss.tools.cdi.deltaspike.core.DeltaspikeExcludeExtension"
	          runtime="org.apache.deltaspike.core.impl.exclude.extension.ExcludeExtension">
	    </cdiextension>
	    <cdiextension
	          class="org.jboss.tools.cdi.deltaspike.core.DeltaspikeMessageBundleExtension"
	          runtime="org.apache.deltaspike.core.impl.message.MessageBundleExtension">
	    </cdiextension>
	    <cdiextension
	          class="org.jboss.tools.cdi.deltaspike.core.DeltaspikeSecurityExtension"
	          runtime="org.apache.deltaspike.security.impl.authorization.SecurityExtension">
	    </cdiextension>
	</extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.tools.cdi.deltaspike.core.DeltaspikeSeverityPreferenceInitializer"/>
   </extension>

   <extension
   		 id="DeltaspikeWarnings"
         point="org.jboss.tools.common.validation.warnings">
         <map
               class="org.jboss.tools.cdi.deltaspike.core.validation.DeltaspikeSuppressWarningsMap"
               warningGroupID="deltaspike"
               preferenceGroupID="org.jboss.tools.cdi.deltaspike.core.validator.problem">
         </map>
   </extension>

   <extension
      point="org.jboss.tools.cdi.ui.configBlockDescriptionProvider">
   <provider
         class="org.jboss.tools.cdi.deltaspike.ui.preferences.DeltaspikeConfigBlockDescriptionProvider">
   </provider>
</extension>

	<extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="org.jboss.tools.cdi.deltaspike.text.ext.AuthorizerHyperlinkDetector"
            id="org.jboss.tools.cdi.deltaspike.text.ext.AuthorizerHyperlinkDetector"
            name="%AuthorizerHyperlinkDetector"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>

    </extension>
</plugin>
