<html>
<head></head>

<body>

<h1>input</h1>

<h4>input</h4>

<input name="unput" value="input">

<h4>checkbox</h4>

<input type="checkbox" name="" value="">

<h4>file</h4>

<input type="file" name="">

<h4>hidden</h4>

<input type="hidden" name="someName" value="somevalue">

<h4>input button</h4>

<input type="button" value="input button">

<h4>input image</h4>

<input type=image src="img/image.jpeg">

<h4>password</h4>

<input type="password" name="someName" value="password">

<h4>radio</h4>

<input type="radio" name="someName" value="someValue">

<h4>reset</h4>

<input type="reset">

<h4>submit</h4>

<input type="submit" value="submit">

<h4>text</h4>

<input type="text" name="someName" value="value">

</body>
</html>