<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 
   <extension
         point="org.eclipse.ui.propertyPages">
       <page
            name="%PreferencePage_CDISettings"
            class="org.jboss.tools.cdi.ui.preferences.CDISettingsPreferencePage"
            id="org.jboss.tools.cdi.ui.propertyPages.CDISettingsPreferencePage">
         <enabledWhen>
		     	<adapt type="org.eclipse.core.resources.IProject">
		     		<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
				</adapt>
         </enabledWhen>
      </page>
       <page
            name="%PreferencePage_Validator"
            class="org.jboss.tools.cdi.ui.preferences.CDIValidatorPreferencePage"
            id="org.jboss.tools.cdi.ui.propertyPages.CDIValidatorPreferencePage"
            category="org.jboss.tools.cdi.ui.propertyPages.CDISettingsPreferencePage">
         <enabledWhen>
		     	<adapt type="org.eclipse.core.resources.IProject">
		     		<test property="org.eclipse.core.resources.projectNature" value="org.jboss.tools.cdi.core.cdinature"/>
				</adapt>
         </enabledWhen>
      </page>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page 
         category="org.jboss.tools.common.model.ui.cdi" 
         class="org.jboss.tools.cdi.ui.preferences.CDIValidatorPreferencePage" 
         id="org.jboss.tools.cdi.ui.preferences.CDIValidatorPreferencePage" 
         name="%PreferencePage_Validator">
      </page>
      <page
            category="org.jboss.tools.common.model.ui"
            class="org.jboss.tools.cdi.ui.preferences.CDIPreferencePage"
            id="org.jboss.tools.common.model.ui.cdi"
            name="%PreferencePage_CDI">
      </page>
   </extension>

	<extension
		point="org.eclipse.ui.popupMenus">

		<objectContribution
			id="org.jboss.tools.cdi.ui.project.configure.enable"
			objectClass="org.eclipse.core.resources.IProject"
			adaptable="true">
			<visibility>
				<and>
					<objectState 
						name="projectNature"
						value="org.eclipse.jdt.core.javanature"/>
					<not>
						<objectState 
							name="projectNature"
							value="org.jboss.tools.cdi.core.cdinature"/>
					</not>
				</and>
			</visibility>

			<action
				id="org.jboss.tools.cdi.ui.AddCDISupport"
				label="%ConfigureMenu_AddCDISupport"
				class="org.jboss.tools.cdi.ui.preferences.AddCDISupportAction"
				enablesFor="1"
				menubarPath="org.eclipse.ui.projectConfigure/additions"/>

		</objectContribution>

		<objectContribution
			id="org.jboss.tools.cdi.ui.project.configure.disable"
			objectClass="org.eclipse.core.resources.IProject"
			adaptable="true">
			<visibility>
				<objectState 
					name="projectNature"
					value="org.jboss.tools.cdi.core.cdinature"/>
			</visibility>

			<action
				id="org.jboss.tools.cdi.ui.RemoveCDISupport"
				label="%ConfigureMenu_RemoveCDISupport"
				class="org.jboss.tools.cdi.ui.preferences.RemoveCDISupportAction"
				enablesFor="1"
				menubarPath="org.eclipse.ui.projectConfigure/additions"/>

		</objectContribution>

	</extension>

   <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
   		id="cdi_el_proposals"
			name="CDI EL Proposals">
	   	<proposalCategory icon="$nl$/icons/cdi16.png"/>
 	</extension>

	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
   		id="CDIJavaELCompletionProposalComputer" 
   		name="CDI EL Java Completion Proposal Computer">
	   	<javaCompletionProposalComputer
	      		class="org.jboss.tools.cdi.ui.ca.CDIJavaELProposalComputer"
	      		categoryId="org.jboss.tools.cdi.ui.cdi_el_proposals"
	      		activate="true">
				<partition type="__java_string"/>
	   	</javaCompletionProposalComputer>
	</extension>
	<extension
        point="org.eclipse.jdt.ui.queryParticipants">
     <queryParticipant
           class="org.jboss.tools.cdi.ui.search.InjectionPointQueryParticipant"
           id="org.jboss.tools.cdi.ui.search.InjectionPointQueryParticipant"
           name="cdi-InjectionPointReferencesParticipant"
           nature="org.jboss.tools.cdi.core.cdinature">
     </queryParticipant>
  </extension>
  <!-- Refactorng -->
	<extension
		point="org.eclipse.ui.menus">
	<menuContribution
	      class="org.jboss.tools.cdi.ui.refactoring.CDIRefactorContributionFactory"
	      locationURI="popup:org.eclipse.ui.popup.any?after=save">
	</menuContribution>
	</extension> 
  
   <extension point="org.eclipse.ui.newWizards">
      <category
            name="CDI (Context and Dependency Injection)"
            id="org.jboss.tools.cdi.ui">
      </category>
      <wizard 
         category="org.jboss.tools.cdi.ui" 
         class="org.jboss.tools.cdi.ui.wizard.NewQualifierCreationWizard" 
         icon="icons/cdi16.png"
         id="org.jboss.tools.cdi.ui.wizard.NewQualifierCreationWizard" 
         name="Qualifier Annotation Type" 
         project="false">
         <description>
            Create a Qualifier Java File
         </description>
         <keywordReference
               id="org.jboss.tools.cdi.ui.newJava">
         </keywordReference>
      </wizard>

      <wizard 
         category="org.jboss.tools.cdi.ui" 
         class="org.jboss.tools.cdi.ui.wizard.NewStereotypeCreationWizard" 
         icon="icons/cdi16.png"
         id="org.jboss.tools.cdi.ui.wizard.NewStereotypeCreationWizard" 
         name="Stereotype Annotation Type" 
         project="false">
         <description>
            Create a Stereotype Java File
         </description>
         <keywordReference
               id="org.jboss.tools.cdi.ui.newJava">
         </keywordReference>
      </wizard>

      <wizard 
         category="org.jboss.tools.cdi.ui" 
         class="org.jboss.tools.cdi.ui.wizard.NewScopeCreationWizard" 
         icon="icons/cdi16.png"
         id="org.jboss.tools.cdi.ui.wizard.NewScopeCreationWizard" 
         name="Scope Annotation Type" 
         project="false">
         <description>
            Create a Scope Java File
         </description>
         <keywordReference
               id="org.jboss.tools.cdi.ui.newJava">
         </keywordReference>
      </wizard>

      <wizard 
         category="org.jboss.tools.cdi.ui" 
         class="org.jboss.tools.cdi.ui.wizard.NewInterceptorBindingCreationWizard" 
         icon="icons/cdi16.png"
         id="org.jboss.tools.cdi.ui.wizard.NewInterceptorBindingCreationWizard" 
         name="Interceptor Binding Annotation Type" 
         project="false">
         <description>
            Create a Interceptor Binding Java File
         </description>
         <keywordReference
               id="org.jboss.tools.cdi.ui.newJava">
         </keywordReference>
      </wizard>

      <wizard 
         category="org.jboss.tools.cdi.ui" 
         class="org.jboss.tools.cdi.ui.wizard.NewInterceptorCreationWizard" 
         icon="icons/cdi16.png"
         id="org.jboss.tools.cdi.ui.wizard.NewInterceptorCreationWizard" 
         name="Interceptor Type" 
         project="false">
         <description>
            Create an Interceptor Java File
         </description>
         <keywordReference
               id="org.jboss.tools.cdi.ui.newJava">
         </keywordReference>
      </wizard>

      <wizard 
         category="org.jboss.tools.cdi.ui" 
         class="org.jboss.tools.cdi.ui.wizard.NewDecoratorCreationWizard" 
         icon="icons/cdi16.png"
         id="org.jboss.tools.cdi.ui.wizard.NewDecoratorCreationWizard" 
         name="Decorator Type" 
         project="false">
         <description>
            Create an Decorator Java File
         </description>
         <keywordReference
               id="org.jboss.tools.cdi.ui.newJava">
         </keywordReference>
      </wizard>

      <wizard
            name="%NewWizards.file"
            icon="icons/cdi16.png"
            category="org.jboss.tools.cdi.ui"
            class="org.jboss.tools.cdi.ui.wizard.NewBeansXMLCreationWizard"
            id="org.jboss.tools.cdi.ui.wizard.NewBeansXMLCreationWizard">
         <description>
            %NewWizards.file.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
         <keywordReference
               id="org.jboss.tools.cdi.ui.newBeansXML">
         </keywordReference>
      </wizard>

   </extension>
  
   <extension
   		point="org.eclipse.ui.keywords">
      <keyword
            label="%preferenceKeywords.newJava"
            id="org.jboss.tools.cdi.ui.newJava"/>
      <keyword
            label="%preferenceKeywords.newBeansXML"
            id="org.jboss.tools.cdi.ui.newBeansXML"/>
            
    </extension>

   <extension
         point="org.eclipse.wst.common.project.facet.ui.wizardPages">
      <wizard-pages action="jst.cdi.1.0.install">
         <page class="org.jboss.tools.cdi.ui.wizard.facet.CDIInstallWizardPage"/>
      </wizard-pages>
   </extension>

      <extension
       point="org.eclipse.wst.sse.ui.completionProposal">
	<proposalCategory
          icon="icons/cdi16.png"
          id="org.jboss.tools.cdi.ui.proposalCategory.cdiClass"
          name="%proposalCategory.cdiClass">
    </proposalCategory>
    <proposalComputer
          activate="true"
          categoryId="org.jboss.tools.cdi.ui.proposalCategory.cdiClass"
          class="org.jboss.tools.cdi.ui.ca.BeansXmlCompletionProposalComputer"
          id="org.jboss.tools.cdi.ui.proposalComputer.cdiClass">
			<contentType id="org.eclipse.core.runtime.xml">
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT" />
			</contentType>
			<contentType id="org.eclipse.wst.xml.core.xmlsource">
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT" />
			</contentType>
			<contentType id="org.jboss.tools.common.model.ui.xml">
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT" />
			</contentType>
    </proposalComputer>
   </extension>
  	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			markerType="org.jboss.tools.cdi.core.cdiproblem"
			class="org.jboss.tools.cdi.ui.marker.CDIProblemMarkerResolutionGenerator"/>
	</extension>
  
</plugin>
