<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.jboss.tools.vpe.ui.tests">
      <tests
            name="JsfAllTests"
            testSuite="org.jboss.tools.jsf.vpe.jsf.test.JsfAllTests"/>
      <testProject
            name="jsfTest"
            path="resources/jsfTest"/>
      <testProject
            name="jsf2test"
            path="resources/jsf2test"/>
      <testProject
            name="customFaceletsTestProject"
            path="resources/customFaceletsTestProject"/>
      <testProject
            name="JBIDE3247"
            path="resources/JBIDE3247"/>
      <testProject
            name="i18nTest"
            path="resources/i18nTest"/>
      <testProject
            name="naturesCheckTest"
            path="resources/naturesCheckTest"/>
      <testProject
            name="jsfLocales"
            path="resources/jsfLocales"/>
      <testProject
            name="JBIDE5460TestProject"
            path="resources/JBIDE5460TestProject"/>
      <testProject
            name="TestWith2URLPatterns"
            path="resources/TestWith2URLPatterns"/>
   </extension>

</plugin>
