<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.jboss.tools.common.model.meta"> 
      <meta path="meta/struts.meta"/>
      <meta path="meta/struts10.meta"/>
      <meta path="meta/struts11.meta"/>
      <meta path="meta/struts12.meta"/>
      <meta path="meta/strutsgen11.meta"/>
      <meta path="meta/strutswizards.meta"/>
      <meta path="meta/validator_rules.meta"/>
      <meta path="meta/validator11.meta"/>
      <meta path="meta/validator_wizard.meta"/>
      <meta path="meta/strutsprojects.meta"/>
   </extension>
   <extension point="org.jboss.tools.common.model.keys">
      <keys path="help/keys-struts.properties"/>
      <keys path="help/keys-struts-attrs.properties"/>
      <keys path="help/keys-struts-menu.properties"/>
      <keys path="help/keys-struts-lists.properties"/>
   </extension>
   <extension point="org.jboss.tools.common.model.specialwizard">
      <specialwizard class="org.jboss.tools.struts.webprj.model.helpers.sync.SortFileSystems" id="org.jboss.tools.struts.webprj.model.helpers.sync.SortFileSystems">
      </specialwizard>
   </extension>
   <extension id="strutsnature" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.jboss.tools.struts.StrutsProject">
         </run>
      </runtime>
   </extension>
   <extension point="org.jboss.tools.jst.web.jspAdopt">
      <jspAdopt class="org.jboss.tools.struts.model.handlers.JSPAdopt"/>
      <jspAdopt class="org.jboss.tools.struts.tiles.model.handlers.JSPAdopt"/>
   </extension>
   
    <extension point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution id="default">
         <public 
         	publicId="-//Apache Software Foundation//DTD Struts Configuration 1.0//EN" 
         	uri="platform:/plugin/org.jboss.tools.struts/dtds/struts-config_1_0.dtd"/>
         <public 
         	publicId="-//Apache Software Foundation//DTD Struts Configuration 1.1//EN" 
         	uri="platform:/plugin/org.jboss.tools.struts/dtds/struts-config_1_1.dtd"/>
         <public 
         	publicId="-//Apache Software Foundation//DTD Struts Configuration 1.2//EN" 
         	uri="platform:/plugin/org.jboss.tools.struts/dtds/struts-config_1_2.dtd"/>
         <public 
         	publicId="-//Apache Software Foundation//DTD Commons Validator Rules Configuration 1.0//EN" 
         	uri="platform:/plugin/org.jboss.tools.struts/dtds/validator_1_0.dtd"/>
      </catalogContribution>
  </extension>
   
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.jboss.tools.struts.model.handlers.refactoring.StrutsRenamePageParticipant"
            id="org.jboss.tools.struts.model.handlers.refactoring.StrutsRenamePageParticipant"
            name="struts-RenamePageParticipant">
         <enablement>
            <with variable="affectedNatures">
               <iterate operator="or">
                  <equals value="org.jboss.tools.struts.strutsnature"/>
               </iterate>
            </with>
            <with variable="element">
                <or>
                   <instanceof value="org.eclipse.core.resources.IFile"/>
                   <instanceof value="org.jboss.tools.common.model.filesystems.impl.FileAnyImpl"/>
                </or>
            </with>
         </enablement>
      </renameParticipant>

      <renameParticipant
            class="org.jboss.tools.struts.model.handlers.refactoring.StrutsRenameFolderParticipant"
            id="org.jboss.tools.struts.model.handlers.refactoring.StrutsRenameFolderParticipant"
            name="struts-RenameFolderParticipant">
         <enablement>
            <with variable="affectedNatures">
               <iterate operator="or">
                  <equals value="org.jboss.tools.struts.strutsnature"/>
               </iterate>
            </with>
            <with variable="element">
                <or>
                   <instanceof value="org.eclipse.core.resources.IFolder"/>
                   <instanceof value="org.jboss.tools.common.model.filesystems.impl.FolderImpl"/>
                </or>
            </with>
         </enablement>
      </renameParticipant>

      <renameParticipant
            class="org.jboss.tools.struts.model.handlers.refactoring.StrutsRenameStrutsConfigParticipant"
            id="org.jboss.tools.struts.model.handlers.refactoring.JSFRenameStrutsConfigParticipant"
            name="jsf-RenameStrutsConfigParticipant">
         <enablement>
            <with variable="affectedNatures">
               <iterate operator="or">
                  <equals value="org.jboss.tools.struts.strutsnature"/>
               </iterate>
            </with>
            <with variable="element">
                <or>
                   <instanceof value="org.eclipse.core.resources.IFile"/>
                </or>
            </with>
         </enablement>
      </renameParticipant>


   </extension>

   <extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.struts.StrutsUtils"
			class="org.jboss.tools.struts.StrutsUtils"/>
		<xclass id="org.jboss.tools.struts.model.ActionObjectImpl"
			class="org.jboss.tools.struts.model.ActionObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.DataSourceObjectImpl"
			class="org.jboss.tools.struts.model.DataSourceObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.ExceptionObjectImpl"
			class="org.jboss.tools.struts.model.ExceptionObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.FileStrutsConfigImpl"
			class="org.jboss.tools.struts.model.FileStrutsConfigImpl"/>
		<xclass id="org.jboss.tools.struts.model.FileSystemsTreeConstraint"
			class="org.jboss.tools.struts.model.FileSystemsTreeConstraint"/>
		<xclass id="org.jboss.tools.struts.model.FormBeanObjectImpl"
			class="org.jboss.tools.struts.model.FormBeanObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.FormPropertyObjectImpl"
			class="org.jboss.tools.struts.model.FormPropertyObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.MessageResourcesObjectImpl"
			class="org.jboss.tools.struts.model.MessageResourcesObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.NamedObjectImpl"
			class="org.jboss.tools.struts.model.NamedObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.PluginObjectImpl"
			class="org.jboss.tools.struts.model.PluginObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.ReferenceObjectImpl"
			class="org.jboss.tools.struts.model.ReferenceObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.SetPropertyObjectImpl"
			class="org.jboss.tools.struts.model.SetPropertyObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.StrutsAuxEntityRecognizer"
			class="org.jboss.tools.struts.model.StrutsAuxEntityRecognizer"/>
		<xclass id="org.jboss.tools.struts.model.StrutsCommentObjectImpl"
			class="org.jboss.tools.struts.model.StrutsCommentObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.StrutsConfigLoader"
			class="org.jboss.tools.struts.model.StrutsConfigLoader"/>
		<xclass id="org.jboss.tools.struts.model.StrutsEntityRecognizer"
			class="org.jboss.tools.struts.model.StrutsEntityRecognizer"/>
		<xclass id="org.jboss.tools.struts.model.StrutsProcessImpl"
			class="org.jboss.tools.struts.model.StrutsProcessImpl"/>
		<xclass id="org.jboss.tools.struts.model.SubsetObjectImpl"
			class="org.jboss.tools.struts.model.SubsetObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.handlers.AutolayoutTransitionHandler"
			class="org.jboss.tools.struts.model.handlers.AutolayoutTransitionHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.CleanActionForwardAttrHandler"
			class="org.jboss.tools.struts.model.handlers.CleanActionForwardAttrHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.CreateActionHandler"
			class="org.jboss.tools.struts.model.handlers.CreateActionHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.CreateCommentForItemHandler"
			class="org.jboss.tools.struts.model.handlers.CreateCommentForItemHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.CreateCommentHandler"
			class="org.jboss.tools.struts.model.handlers.CreateCommentHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.CreateConfigElementHandler"
			class="org.jboss.tools.struts.model.handlers.CreateConfigElementHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.CreateForwardHandler"
			class="org.jboss.tools.struts.model.handlers.CreateForwardHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.CreateLinkHandler"
			class="org.jboss.tools.struts.model.handlers.CreateLinkHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.DeleteStrutsConfigHandler"
			class="org.jboss.tools.struts.model.handlers.DeleteStrutsConfigHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.DiscardConfigHandler"
			class="org.jboss.tools.struts.model.handlers.DiscardConfigHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.EditGlobalElementPath"
			class="org.jboss.tools.struts.model.handlers.EditGlobalElementPath"/>
		<xclass id="org.jboss.tools.struts.model.handlers.JSPAdopt"
			class="org.jboss.tools.struts.model.handlers.JSPAdopt"/>
		<xclass id="org.jboss.tools.struts.model.handlers.JumpByForwardPathHandler"
			class="org.jboss.tools.struts.model.handlers.JumpByForwardPathHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.JumpToItemFromOtherModule"
			class="org.jboss.tools.struts.model.handlers.JumpToItemFromOtherModule"/>
		<xclass id="org.jboss.tools.struts.model.handlers.MessageResourcesFolderAdopt"
			class="org.jboss.tools.struts.model.handlers.MessageResourcesFolderAdopt"/>
		<xclass id="org.jboss.tools.struts.model.handlers.OpenMessageResourcesHandler"
			class="org.jboss.tools.struts.model.handlers.OpenMessageResourcesHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.OpenSourceFormByActionHandler"
			class="org.jboss.tools.struts.model.handlers.OpenSourceFormByActionHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.OpenSourceForwardHandler"
			class="org.jboss.tools.struts.model.handlers.OpenSourceForwardHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.OpenSourceHandler"
			class="org.jboss.tools.struts.model.handlers.OpenSourceHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.ProcessItemHelpHandler"
			class="org.jboss.tools.struts.model.handlers.ProcessItemHelpHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.RenameStrutsConfigHandler"
			class="org.jboss.tools.struts.model.handlers.RenameStrutsConfigHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.RestoreUnconfirmedActionHandler"
			class="org.jboss.tools.struts.model.handlers.RestoreUnconfirmedActionHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.SelectInNavigatorHandler"
			class="org.jboss.tools.struts.model.handlers.SelectInNavigatorHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.SelectOnDiagramHandler"
			class="org.jboss.tools.struts.model.handlers.SelectOnDiagramHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.SetUnknownActionHandler"
			class="org.jboss.tools.struts.model.handlers.SetUnknownActionHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.StrutsAdoptManager"
			class="org.jboss.tools.struts.model.handlers.StrutsAdoptManager"/>
		<xclass id="org.jboss.tools.struts.model.handlers.StrutsCopyHandler"
			class="org.jboss.tools.struts.model.handlers.StrutsCopyHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.StrutsDeleteHandler"
			class="org.jboss.tools.struts.model.handlers.StrutsDeleteHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.StrutsEditPropertiesHandler"
			class="org.jboss.tools.struts.model.handlers.StrutsEditPropertiesHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.StrutsLinkManager"
			class="org.jboss.tools.struts.model.handlers.StrutsLinkManager"/>
		<xclass id="org.jboss.tools.struts.model.handlers.StrutsMoveHandler"
			class="org.jboss.tools.struts.model.handlers.StrutsMoveHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.StrutsPasteHandler"
			class="org.jboss.tools.struts.model.handlers.StrutsPasteHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.UnlinkHandler"
			class="org.jboss.tools.struts.model.handlers.UnlinkHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.page.HiddenLinksHandler"
			class="org.jboss.tools.struts.model.handlers.page.HiddenLinksHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.page.HideLinkHandler"
			class="org.jboss.tools.struts.model.handlers.page.HideLinkHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.page.OpenPageHandler"
			class="org.jboss.tools.struts.model.handlers.page.OpenPageHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.page.OpenTileHandler"
			class="org.jboss.tools.struts.model.handlers.page.OpenTileHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.page.RenamePageHandler"
			class="org.jboss.tools.struts.model.handlers.page.RenamePageHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.page.RunOnServerHandler"
			class="org.jboss.tools.struts.model.handlers.page.RunOnServerHandler"/>
		<xclass id="org.jboss.tools.struts.model.handlers.page.create.PageTree"
			class="org.jboss.tools.struts.model.handlers.page.create.PageTree"/>
		<xclass id="org.jboss.tools.struts.model.handlers.page.create.WebTree"
			class="org.jboss.tools.struts.model.handlers.page.create.WebTree"/>
		<xclass id="org.jboss.tools.struts.model.helpers.TilesContributor"
			class="org.jboss.tools.struts.model.helpers.TilesContributor"/>
		<xclass id="org.jboss.tools.struts.model.helpers.page.JSPLinkObjectImpl"
			class="org.jboss.tools.struts.model.helpers.page.JSPLinkObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.helpers.page.JSPLinkRecognizerObjectImpl"
			class="org.jboss.tools.struts.model.helpers.page.JSPLinkRecognizerObjectImpl"/>
		<xclass id="org.jboss.tools.struts.model.helpers.path.ActionTree"
			class="org.jboss.tools.struts.model.helpers.path.ActionTree"/>
		<xclass id="org.jboss.tools.struts.model.icons.StrutsCustomizedIcon"
			class="org.jboss.tools.struts.model.icons.StrutsCustomizedIcon"/>
		<xclass id="org.jboss.tools.struts.model.pv.StrutsProjectConfiguration"
			class="org.jboss.tools.struts.model.pv.StrutsProjectConfiguration"/>
		<xclass id="org.jboss.tools.struts.model.pv.StrutsProjectModule"
			class="org.jboss.tools.struts.model.pv.StrutsProjectModule"/>
		<xclass id="org.jboss.tools.struts.model.pv.StrutsProjectResourceBundles"
			class="org.jboss.tools.struts.model.pv.StrutsProjectResourceBundles"/>
		<xclass id="org.jboss.tools.struts.model.pv.StrutsProjectTagLibs"
			class="org.jboss.tools.struts.model.pv.StrutsProjectTagLibs"/>
		<xclass id="org.jboss.tools.struts.model.pv.StrutsProjectTiles"
			class="org.jboss.tools.struts.model.pv.StrutsProjectTiles"/>
		<xclass id="org.jboss.tools.struts.model.pv.StrutsProjectValidators"
			class="org.jboss.tools.struts.model.pv.StrutsProjectValidators"/>
		<xclass id="org.jboss.tools.struts.model.pv.StrutsProjectsRoot"
			class="org.jboss.tools.struts.model.pv.StrutsProjectsRoot"/>
		<xclass id="org.jboss.tools.struts.model.pv.StrutsProjectsTree"
			class="org.jboss.tools.struts.model.pv.StrutsProjectsTree"/>
		<xclass id="org.jboss.tools.struts.model.pv.StrutsProjectsTreeConstraint"
			class="org.jboss.tools.struts.model.pv.StrutsProjectsTreeConstraint"/>
		<xclass id="org.jboss.tools.struts.model.pv.StrutsPromptingProvider"
			class="org.jboss.tools.struts.model.pv.StrutsPromptingProvider"/>
		<xclass id="org.jboss.tools.struts.model.pv.handler.DeleteModuleHandler"
			class="org.jboss.tools.struts.model.pv.handler.DeleteModuleHandler"/>
		<xclass id="org.jboss.tools.struts.model.pv.handler.StrutsProjectsConfigurationRedirectHandler"
			class="org.jboss.tools.struts.model.pv.handler.StrutsProjectsConfigurationRedirectHandler"/>
		<xclass id="org.jboss.tools.struts.model.pv.handler.StrutsProjectsRootRedirectHandler"
			class="org.jboss.tools.struts.model.pv.handler.StrutsProjectsRootRedirectHandler"/>
		<xclass id="org.jboss.tools.struts.plugins.model.handlers.AddMessagesHandler"
			class="org.jboss.tools.struts.plugins.model.handlers.AddMessagesHandler"/>
		<xclass id="org.jboss.tools.struts.plugins.model.handlers.AddMessagesThroughStrutsResourcesHandler"
			class="org.jboss.tools.struts.plugins.model.handlers.AddMessagesThroughStrutsResourcesHandler"/>
		<xclass id="org.jboss.tools.struts.plugins.model.handlers.AddSpecialPluginHandler"
			class="org.jboss.tools.struts.plugins.model.handlers.AddSpecialPluginHandler"/>
		<xclass id="org.jboss.tools.struts.plugins.model.handlers.TilesFileRegistration"
			class="org.jboss.tools.struts.plugins.model.handlers.TilesFileRegistration"/>
		<xclass id="org.jboss.tools.struts.plugins.model.handlers.ValidationFileRegistration"
			class="org.jboss.tools.struts.plugins.model.handlers.ValidationFileRegistration"/>
		<xclass id="org.jboss.tools.struts.tiles.model.handlers.JSPAdopt"
			class="org.jboss.tools.struts.tiles.model.handlers.JSPAdopt"/>

		<xclass id="org.jboss.tools.struts.validators.model.FileValidatorLoader"
			class="org.jboss.tools.struts.validators.model.FileValidatorLoader"/>
		<xclass id="org.jboss.tools.struts.validators.model.FileValidatorRecognizer"
			class="org.jboss.tools.struts.validators.model.FileValidatorRecognizer"/>
		<xclass id="org.jboss.tools.struts.validators.model.FileValidatorRulesImpl"
			class="org.jboss.tools.struts.validators.model.FileValidatorRulesImpl"/>
		<xclass id="org.jboss.tools.struts.validators.model.ValidatorArg11Impl"
			class="org.jboss.tools.struts.validators.model.ValidatorArg11Impl"/>
		<xclass id="org.jboss.tools.struts.validators.model.ValidatorConstantImpl"
			class="org.jboss.tools.struts.validators.model.ValidatorConstantImpl"/>
		<xclass id="org.jboss.tools.struts.validators.model.ValidatorFieldImpl"
			class="org.jboss.tools.struts.validators.model.ValidatorFieldImpl"/>
		<xclass id="org.jboss.tools.struts.validators.model.ValidatorFormImpl"
			class="org.jboss.tools.struts.validators.model.ValidatorFormImpl"/>
		<xclass id="org.jboss.tools.struts.validators.model.ValidatorFormsetImpl"
			class="org.jboss.tools.struts.validators.model.ValidatorFormsetImpl"/>
		<xclass id="org.jboss.tools.struts.validators.model.ValidatorGlobalImpl"
			class="org.jboss.tools.struts.validators.model.ValidatorGlobalImpl"/>
		<xclass id="org.jboss.tools.struts.validators.model.ValidatorMsgImpl"
			class="org.jboss.tools.struts.validators.model.ValidatorMsgImpl"/>
		<xclass id="org.jboss.tools.struts.validators.model.ValidatorObjectImpl"
			class="org.jboss.tools.struts.validators.model.ValidatorObjectImpl"/>
		<xclass id="org.jboss.tools.struts.validators.model.ValidatorVarImpl"
			class="org.jboss.tools.struts.validators.model.ValidatorVarImpl"/>
		<xclass id="org.jboss.tools.struts.validators.model.handlers.CreateDependencyHandler"
			class="org.jboss.tools.struts.validators.model.handlers.CreateDependencyHandler"/>
		<xclass id="org.jboss.tools.struts.validators.model.handlers.DeleteValidationFileHandler"
			class="org.jboss.tools.struts.validators.model.handlers.DeleteValidationFileHandler"/>
		<xclass id="org.jboss.tools.struts.validators.model.handlers.FormsetAdopt"
			class="org.jboss.tools.struts.validators.model.handlers.FormsetAdopt"/>
		<xclass id="org.jboss.tools.struts.validators.model.handlers.RemoveDependencyHandler"
			class="org.jboss.tools.struts.validators.model.handlers.RemoveDependencyHandler"/>
		<xclass id="org.jboss.tools.struts.validators.model.handlers.RenameValidationFileHandler"
			class="org.jboss.tools.struts.validators.model.handlers.RenameValidationFileHandler"/>
		<xclass id="org.jboss.tools.struts.validators.model.handlers.ValidatorPasteHandler"
			class="org.jboss.tools.struts.validators.model.handlers.ValidatorPasteHandler"/>

		<xclass id="org.jboss.tools.struts.webprj.model.WebProjectTree"
			class="org.jboss.tools.struts.webprj.model.WebProjectTree"/>
		<xclass id="org.jboss.tools.struts.webprj.model.helpers.sync.SortFileSystems"
			class="org.jboss.tools.struts.webprj.model.helpers.sync.SortFileSystems"/>
		<xclass id="org.jboss.tools.struts.webprj.model.helpers.sync.SyncProjectContext"
			class="org.jboss.tools.struts.webprj.model.helpers.sync.SyncProjectContext"/>

		<xclass id="org.jboss.tools.common.meta.impl.adapters.XAdapterContextRelative"
			class="org.jboss.tools.common.meta.impl.adapters.XAdapterContextRelative"/>
		<xclass id="org.jboss.tools.common.meta.impl.adapters.XAdapterStrutsItemElementType"
			class="org.jboss.tools.common.meta.impl.adapters.XAdapterStrutsItemElementType"/>
		<xclass id="org.jboss.tools.common.meta.impl.adapters.XAdapterProjectRoot"
			class="org.jboss.tools.common.meta.impl.adapters.XAdapterProjectRoot"/>

		<xclass id="org.jboss.tools.struts.webprj.model.helpers.sync.SyncProjectSupport"
			class="org.jboss.tools.struts.webprj.model.helpers.sync.SyncProjectSupport"/>
		<xclass id="org.jboss.tools.struts.webprj.model.helpers.sync.SortFileSystems"
			class="org.jboss.tools.struts.webprj.model.helpers.sync.SortFileSystems"/>
		<xclass id="org.jboss.tools.struts.model.handlers.CreateStrutsConfig_1_0Support"
			class="org.jboss.tools.struts.model.handlers.CreateStrutsConfig_1_0Support"/>
		<xclass id="org.jboss.tools.struts.model.handlers.CreateStrutsConfigSupport"
			class="org.jboss.tools.struts.model.handlers.CreateStrutsConfigSupport"/>
		<xclass id="org.jboss.tools.struts.model.helpers.path.CreateActionForwardSupport"
			class="org.jboss.tools.struts.model.helpers.path.CreateActionForwardSupport"/>
		<xclass id="org.jboss.tools.struts.validators.model.handlers.CreateValidationFileSupport"
			class="org.jboss.tools.struts.validators.model.handlers.CreateValidationFileSupport"/>
		<xclass id="org.jboss.tools.struts.model.handlers.GenFormBeanCodeSupport"
			class="org.jboss.tools.struts.model.handlers.GenFormBeanCodeSupport"/>
		<xclass id="org.jboss.tools.struts.model.handlers.GenExceptionCodeSupport"
			class="org.jboss.tools.struts.model.handlers.GenExceptionCodeSupport"/>
		<xclass id="org.jboss.tools.struts.model.handlers.GenForwardCodeSupport"
			class="org.jboss.tools.struts.model.handlers.GenForwardCodeSupport"/>
		<xclass id="org.jboss.tools.struts.model.handlers.GenActionCodeSupport"
			class="org.jboss.tools.struts.model.handlers.GenActionCodeSupport"/>
		<xclass id="org.jboss.tools.struts.model.helpers.path.CreateActionSupport"
			class="org.jboss.tools.struts.model.helpers.path.CreateActionSupport"/>
		<xclass id="org.jboss.tools.struts.model.handlers.GenJavaCodeSupport"
			class="org.jboss.tools.struts.model.handlers.GenJavaCodeSupport"/>
		<xclass id="org.jboss.tools.struts.model.handlers.page.create.CreatePageSupport"
			class="org.jboss.tools.struts.model.handlers.page.create.CreatePageSupport"/>
		<xclass id="org.jboss.tools.struts.model.helpers.path.SelectActionForwardPathSupport"
			class="org.jboss.tools.struts.model.helpers.path.SelectActionForwardPathSupport"/>
		<xclass id="org.jboss.tools.struts.model.handlers.page.create.WebSupport"
			class="org.jboss.tools.struts.model.handlers.page.create.WebSupport"/>

		<xclass id="org.jboss.tools.struts.validators.model.handlers.CreateArgSupport"
			class="org.jboss.tools.struts.validators.model.handlers.CreateArgSupport"/>
		<xclass id="org.jboss.tools.struts.validators.model.handlers.CreateMsgForNameSupport"
			class="org.jboss.tools.struts.validators.model.handlers.CreateMsgForNameSupport"/>
		<xclass id="org.jboss.tools.struts.validators.model.handlers.AddFormsetSupport"
			class="org.jboss.tools.struts.validators.model.handlers.AddFormsetSupport"/>

		<xclass id="org.jboss.tools.struts.webprj.model.helpers.sync.AddModuleSupport"
			class="org.jboss.tools.struts.webprj.model.helpers.sync.AddModuleSupport"/>
		<xclass id="org.jboss.tools.struts.model.helpers.path.SelectPathSupport"
			class="org.jboss.tools.struts.model.helpers.path.SelectPathSupport"/>

		<xclass id="org.jboss.tools.common.meta.constraint.impl.XAttributeConstraintFileSize"
			class="org.jboss.tools.common.meta.constraint.impl.XAttributeConstraintFileSize"/>
		<xclass id="org.jboss.tools.common.meta.constraint.impl.XAttributeConstraintStrutsProperty"
			class="org.jboss.tools.common.meta.constraint.impl.XAttributeConstraintStrutsProperty"/>

		<xclass id="org.jboss.tools.struts.model.helpers.autolayout.StrutsItems"
			class="org.jboss.tools.struts.model.helpers.autolayout.StrutsItems"/>

		<xclass id="org.jboss.tools.struts.validators.model.handlers.VSignificanceMessageImpl"
			class="org.jboss.tools.struts.validators.model.handlers.VSignificanceMessageImpl"/>
		<xclass id="org.jboss.tools.struts.model.helpers.page.ProcessItemSignificanceMessage"
			class="org.jboss.tools.struts.model.helpers.page.ProcessItemSignificanceMessage"/>
			
   </extension>

   <extension
         point="org.jboss.tools.common.model.modelnatures">
      <modelnature 
      	name="org.jboss.tools.struts.strutsnature"
      	displayName="Struts"
      	watcherContributor="org.jboss.tools.struts.webprj.model.helpers.sync.SyncProjectContext"
      	/>
   </extension>

 <extension
       point="org.jboss.tools.common.model.preferences">
    <contribution
          resource="meta/struts-options.xml" priority="3">
    </contribution>
    <contribution
          resource="meta/struts-palette.xml" priority="5">
    </contribution>
 </extension>

</plugin>
