<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.jboss.tools.common.model.meta">
      <meta path="meta/seam-pages.meta"/>
      <meta path="meta/seam-pages-wizards.meta"/>
   </extension>

   <extension point="org.jboss.tools.common.model.keys">
      <keys path="help/keys-seam-pages.properties"/>
      <keys path="help/keys-seampages-attrs.properties"/>
      <keys path="help/keys-seampages-menu.properties"/>
      <keys path="help/keys-seampages-lists.properties"/>
   </extension>


	<extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.seam.pages.xml.model.FileSeamPageImpl"
			class="org.jboss.tools.seam.pages.xml.model.FileSeamPageImpl"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.FileSeamPagesImpl"
			class="org.jboss.tools.seam.pages.xml.model.FileSeamPagesImpl"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.SeamPagesFileLoader"
			class="org.jboss.tools.seam.pages.xml.model.SeamPagesFileLoader"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.SeamPages12FileLoader"
			class="org.jboss.tools.seam.pages.xml.model.SeamPages12FileLoader"/>

		<xclass id="org.jboss.tools.seam.pages.xml.model.SeamPageFileLoader"
			class="org.jboss.tools.seam.pages.xml.model.SeamPageFileLoader"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.SeamPage12FileLoader"
			class="org.jboss.tools.seam.pages.xml.model.SeamPage12FileLoader"/>

		<xclass id="org.jboss.tools.seam.pages.xml.model.SeamPagesEntityRecognizer"
			class="org.jboss.tools.seam.pages.xml.model.SeamPagesEntityRecognizer"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.AuxEntityRecognizer"
			class="org.jboss.tools.seam.pages.xml.model.AuxEntityRecognizer"/>

		<xclass id="org.jboss.tools.seam.pages.xml.model.impl.SeamPageNavigationImpl"
			class="org.jboss.tools.seam.pages.xml.model.impl.SeamPageNavigationImpl"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.impl.SeamPageRuleImpl"
			class="org.jboss.tools.seam.pages.xml.model.impl.SeamPageRuleImpl"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.impl.SeamPageRedirectImpl"
			class="org.jboss.tools.seam.pages.xml.model.impl.SeamPageRedirectImpl"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.impl.SeamPageHTTPErrorImpl"
			class="org.jboss.tools.seam.pages.xml.model.impl.SeamPageHTTPErrorImpl"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.impl.SeamPageTaskImpl"
			class="org.jboss.tools.seam.pages.xml.model.impl.SeamPageTaskImpl"/>

		<xclass id="org.jboss.tools.seam.pages.xml.model.impl.SeamPagesDiagramImpl"
			class="org.jboss.tools.seam.pages.xml.model.impl.SeamPagesDiagramImpl"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.impl.ReferenceObjectImpl"
			class="org.jboss.tools.seam.pages.xml.model.impl.ReferenceObjectImpl"/>

		<xclass id="org.jboss.tools.seam.pages.xml.model.impl.SeamPagesFilteredTreeConstraint"
			class="org.jboss.tools.seam.pages.xml.model.impl.SeamPagesFilteredTreeConstraint"/>

		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.CreateSeamPagesSupport"
			class="org.jboss.tools.seam.pages.xml.model.handlers.CreateSeamPagesSupport"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.AddRuleHandler"
			class="org.jboss.tools.seam.pages.xml.model.handlers.AddRuleHandler"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.AddExceptionHandler"
			class="org.jboss.tools.seam.pages.xml.model.handlers.AddExceptionHandler"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.DiagramAdopt"
			class="org.jboss.tools.seam.pages.xml.model.handlers.DiagramAdopt"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.PageAdopt"
			class="org.jboss.tools.seam.pages.xml.model.handlers.PageAdopt"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.DeleteOutputHandler"
			class="org.jboss.tools.seam.pages.xml.model.handlers.DeleteOutputHandler"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.DeleteVirtualOutputHandler"
			class="org.jboss.tools.seam.pages.xml.model.handlers.DeleteVirtualOutputHandler"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.OpenPageHandler"
			class="org.jboss.tools.seam.pages.xml.model.handlers.OpenPageHandler"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.SelectOnDiagramHandler"
			class="org.jboss.tools.seam.pages.xml.model.handlers.SelectOnDiagramHandler"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.DeletePageItemHandler"
			class="org.jboss.tools.seam.pages.xml.model.handlers.DeletePageItemHandler"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.GoToNodeNandler"
			class="org.jboss.tools.seam.pages.xml.model.handlers.GoToNodeNandler"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.CreateVirtualHandler"
			class="org.jboss.tools.seam.pages.xml.model.handlers.CreateVirtualHandler"/>

		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.AddViewSupport"
			class="org.jboss.tools.seam.pages.xml.model.handlers.AddViewSupport"/>
		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.RenameViewSupport"
			class="org.jboss.tools.seam.pages.xml.model.handlers.RenameViewSupport"/>

		<xclass id="org.jboss.tools.seam.pages.xml.model.handlers.ModifyLinkHandler"
			class="org.jboss.tools.seam.pages.xml.model.handlers.ModifyLinkHandler"/>

		<xclass id="org.jboss.tools.seam.pages.xml.model.helpers.autolayout.SeamPagesItems"
			class="org.jboss.tools.seam.pages.xml.model.helpers.autolayout.SeamPagesItems"/>

		<xclass id="org.jboss.tools.seam.pages.xml.model.ViewIdsTree"
			class="org.jboss.tools.seam.pages.xml.model.ViewIdsTree"/>
	</extension>

 <extension point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution id="default">
         <public 
         	publicId="-//JBoss/Seam Pages Configuration DTD 1.2//EN" 
         	uri="platform:/plugin/org.jboss.tools.seam.pages.xml/dtds/pages-1.2.dtd"/>

         <uri 
            name="http://jboss.com/products/seam/pages-2.0.xsd" 
            uri="platform:/plugin/org.jboss.tools.seam.pages.xml/schemas/pages-2.0.xsd"/>

         <uri 
            name="http://jboss.com/products/seam/pages-2.1.xsd" 
            uri="platform:/plugin/org.jboss.tools.seam.pages.xml/schemas/pages-2.1.xsd"/>

      </catalogContribution>
   </extension>

   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">

      <renameParticipant
            class="org.jboss.tools.seam.pages.xml.model.refactoring.SeamPagesRenamePageParticipant"
            id="org.jboss.tools.seam.pages.xml.model.refactoring.SeamPagesRenamePageParticipant"
            name="seampages-RenamePageParticipant">
         <enablement>
            <with variable="affectedNatures">
               <iterate operator="or">
                  <equals value="org.jboss.tools.seam.core.seamnature"/>
               </iterate>
            </with>
            <with variable="element">
                <or>
                   <instanceof value="org.eclipse.core.resources.IFile"/>
                   <instanceof value="org.jboss.tools.common.model.filesystems.impl.FileAnyImpl"/>
                </or>
            </with>
         </enablement>
      </renameParticipant>

   </extension>

</plugin>
