<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.jboss.tools.vpe.templates">
      <templates
            name="Seam"
            path="templates/vpe-templates-seam.xml"/>
   </extension>

 <extension
       point="org.jboss.tools.common.model.preferences">
    <contribution
          resource="org/jboss/tools/jsf/vpe/seam/seam-palette.xml" priority="10">
    </contribution>
 </extension>
</plugin>
