<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
	      point="org.jboss.tools.cdi.core.cdiextensions">
	    <cdiextension
	          class="org.jboss.tools.cdi.extension.internal.core.jms.JMSContextExtension"
	          recognizer="org.jboss.tools.cdi.core.extension.DefaultExtensionRecognizer"
	          runtime="org.jboss.as.messaging.deployment.JMSCDIExtension">
	    </cdiextension>
	    <cdiextension
	          class="org.jboss.tools.cdi.extension.internal.core.batch.BatchExtension"
	          recognizer="org.jboss.tools.cdi.core.extension.DefaultExtensionRecognizer"
	          runtime="javax.batch.runtime.BatchRuntime">
	    </cdiextension>
	</extension>
</plugin>
